﻿@model WebApplication8.Models.Order

<div class="main-order">
    <form class="container-order" asp-controller="Order" asp-action="Create" asp-area="" method="post">

        <div class="block-details-order">
            <div class="container-items-order">
                @*<input type="checkbox" id="input-items-order" checked />*@
                <label >
                    <span>Ваш заказ</span>
                    <span class="hide-items-order"></span>
                </label>
                <div class="content-items-order">
                    @foreach (var item in Model.OrderDetails)
                    {
                        if (item.CustomBox == null) continue;
                        <div class="item-order">
                            <div class="img-item-order">
                                <img src="@item.CustomBox.ImageBox" />
                            </div>

                            <div class="title-item-order">
                                <span>Индивидуальный бокс «@item.CustomBox.Title»</span>
                                <ul class="desc-item-order">
                                    @foreach (var el in item.CustomBox.Items)
                                    {
                                    <li>@el.Title</li>
                                    }
                                </ul>
                            </div>

                            <div class="price-item-order">
                                <p>@item.Quantity x @String.Concat(@item.CustomBox.TotalPrice, "р.")</p>
                            </div>
                        </div>
                    }

                    @foreach (var item in Model.OrderDetails)
                    {
                        if (item.Box == null) continue;
                        <div class="item-order">
                            <div class="img-item-order">
                                <img src="@item.Box.ImageBox" />
                            </div>

                            <div class="title-item-order">
                                <span>Подарочный бокс «@item.Box.Title»</span>
                                <div class="desc-item-order">
                                    @*<p>@item.Box.Description</p>*@
                                </div>
                            </div>

                            <div class="price-item-order">
                                <p>@item.Quantity x @String.Concat(@item.Box.FullPrice, "р.")</p>
                            </div>
                        </div>
                    }
                </div>

            </div>

            <div class="container-delivery">
                <div class="header-container-delivery">
                    <span>Способ доставки</span>
                </div>

                <div class="container-item-delivery">
                    <label>
                        <input type="radio" id="delivery_id_1" name="radio_delivery" value="1"/>
                        <span>Курьерская доставка</span>
                    </label>
                    <label>
                        <input type="radio" id="delivery_id_2" name="radio_delivery" value="2"/>
                        <span>Забрать из магазина</span>
                    </label>
                    <label>
                        <input type="radio" id="delivery_id_3" name="radio_delivery" value="3"/>
                        <span>Пункт самовывоза</span>
                    </label>
                </div>

                <div class="container-content-item-delivery">
                    <div class="content-item-delivery">

                    </div>
                </div>
            </div>


            <div class="container-payment">
                <div class="header-container-payment">
                    <span>Способ оплаты</span>
                </div>

                <div class="content-payment">
                    <label class="item-payment">
                        <input type="radio" name="radio_payment" id="payment_bankCard" checked="checked" value="1"/>
                        <span>Оплата картой на сайте</span>
                        <span class="block-img-payment_bankCard">
                            <img src="~/css/icon/icons8-виза-96.png" />
                            <img src="~/css/icon/icons8-логотип-mastercard-96.png" />
                            <img src="~/css/icon/icons8-мир-96.png" />
                        </span>
                    </label>

                    <label class="item-payment">
                        <input type="radio" name="radio_payment" id="payment_cash" value="2" />
                        <span>Наличными при получении</span>
                        <img src="~/css/icon/icons8-наличные-96.png" id="img-payment_cash" />
                    </label>

                </div>
            </div>

        </div>

        <div class="block-shadow-order"></div>

        <div class="block-price-order">
            <div class="container-total-price">
                <div class="content-total-price">
                    <div class="row-price-payment ">
                        <span>Товаров на</span>
                        <span>@String.Concat(@Model.Total, "р.")</span>
                    </div>
                    <div class="row-price-payment ">
                        <span>СКИДКА</span>
                        <span></span>
                    </div>
                    <div class="row-price-payment total-price-payment">
                        <span>Итого к оплате</span>
                        <span>@String.Concat(@Model.Total, "р.")</span>
                    </div>
                </div>

                <div class="coupon-section">
                    <div class="block-filed-coupon">
                        <span>Код купона для скидки:</span>
                        <div>
                            <input type="text" />
                            <input type="button" value="применить" />
                        </div>
                    </div>
                    <div class="alert-coupon">
                        @*<span>123213213213</span>*@
                    </div>
                </div>
                <div class="container-order-bottom">
                    <div class="tooltip-btnCreateOrder">
                        <span></span>
                    </div>

                    <div class="div-btnCreateOrder">
                        <input type="submit" name="btnCreateOrder" class="btnCreateOrder" value="Завершить заказ" />
                    </div>
                </div>


            </div>
        </div>

    </form>

</div>


<div class="modal fade" id="UserAddressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>



<link href="~/css/order.css" rel="stylesheet" />
<link href="~/css/userAddress.css" rel="stylesheet" />



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
        $(document).on('click', '.hide-items-order', function () {
            $(this).toggleClass('active');
            $('.content-items-order').slideToggle("slow");

        });
    

        $(document).on('click', '.btnCreateOrder', function () {
            @*$(this).prop('disabled',true);*@
            $('.progress__bar').css('display', 'flex');
        });

        if ($('input[name=radio_delivery]:checked').length == 0 || $('input[name=radio_payment]:checked').length == 0) {
            $(':input[name=btnCreateOrder]').prop('disabled', true);
        }


        $('input[name=radio_delivery]').on('click', function () {
            $(':input[name=btnCreateOrder]').prop('disabled', true);

            if (@Model.UserAddresses.Count() == 0) {
            }
            else {
                if ($('input[name=itemUserAddress]:checked').length != 0  && $('input[name=radio_payment]:checked').length != 0)
                    $(':input[name=btnCreateOrder]').prop('disabled', false);
            }
        });

        $(document).on('click', 'input[name=itemUserAddress]', function () {
            if ($('input[name=radio_payment]:checked').length != 0)
                $(':input[name=btnCreateOrder]').prop('disabled', false);

        });

        $('#delivery_id_2').on('click', function () {
            if ($('input[name=radio_payment]:checked').length != 0)
                $(':input[name=btnCreateOrder]').prop('disabled', false);
        });

        $('#delivery_id_3').on('click', function () {
            if ($('input[name=radio_payment]:checked').length != 0)
                $(':input[name=btnCreateOrder]').prop('disabled', false);
         });


        $(document).on('click', '#delivery_id_1', function () {
            let btn = $(this);
            $('.progress__bar').css('display', 'flex');
            btn.prop('disabled', true);
            $.ajax({
                type: 'GET',
                url: "UserAddress/Index",
                data: {
                },
                success: function (data) {                   
                    $('.content-item-delivery').html(data);
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });

        });


        $(document).on('click', '.btn-addNew-itemuserAddress', function () {
            let btn = $(this);
            btn.prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            $.ajax({
                type: 'GET',
                url: "UserAddress/Create",
                data: {
                },
                success: function (data) {
                    $('.progress__bar').css('display', 'none');
                    $('#UserAddressModal').html(data);
                    btn.prop('disabled', false);
                    new bootstrap.Modal(document.getElementById('UserAddressModal')).show();
                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });

        });

        $(document).on('click', '#btn-submit-create-userAdress', function () {
            let btn = $(this);
            btn.prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            let userAddress = {
                __RequestVerificationToken: $("#CreateUserAddressForm input[name='__RequestVerificationToken']").val(),
                id: $("#CreateUserAddressForm input[name='Id']").val(),
                FirstName: $("#CreateUserAddressForm input[name='FirstName']").val(),
                LastName: $("#CreateUserAddressForm input[name='LastName']").val(),
                PhoneNumber: $("#CreateUserAddressForm input[name='PhoneNumber']").val(),
                City: $("#CreateUserAddressForm input[name='City']").val(),
                Home: $("#CreateUserAddressForm input[name='Home']").val(),
                Street: $("#CreateUserAddressForm input[name='Street']").val(),
                Apartment: $("#CreateUserAddressForm input[name='Apartment']").val(),
                AdditionalInformation: $("#CreateUserAddressForm input[name='AdditionalInformation']").val()
            };
            $.ajax({
                type: 'POST',
                url: "UserAddress/Create",
                data: userAddress,
                success: function (data) {
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                    let parsed = $.parseHTML(data);
                    let hasError = $(parsed).find("input[name='isValid']").val() == "true";

                    if (hasError == true) {
                        $("#UserAddressModal").html(data);
                    }
                    else {
                        $("#UserAddressModal").modal('hide');
                        bootstrap.Modal.getInstance(document.getElementById('UserAddressModal')).hide();
                        $('.content-item-delivery').html(data);
                    }                    
                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });

        });



        $(document).on('click', '.btn-change-itemUserAddress', function () {
            let Id = $(this).val();
            let btn = $(this);
            btn.prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            $.ajax({
                type: 'GET',
                url: "UserAddress/Edit",
                data: {
                    id: Id
                },
                success: function (data) {
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                    $('#UserAddressModal').html(data);
                    new bootstrap.Modal(document.getElementById('UserAddressModal')).show();
                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });

        });

        $(document).on('click', '#btn-edit-userAdress', function () {
            let btn = $(this);
            btn.prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            let userAddress = {
                __RequestVerificationToken: $("#EditUserAddressForm input[name='__RequestVerificationToken']").val(),
                id: $("#EditUserAddressForm input[name='Id']").val(),
                FirstName: $("#EditUserAddressForm input[name='FirstName']").val(),
                LastName: $("#EditUserAddressForm input[name='LastName']").val(),
                PhoneNumber: $("#EditUserAddressForm input[name='PhoneNumber']").val(),
                City: $("#EditUserAddressForm input[name='City']").val(),
                Home: $("#EditUserAddressForm input[name='Home']").val(),
                Street: $("#EditUserAddressForm input[name='Street']").val(),
                Apartment: $("#EditUserAddressForm input[name='Apartment']").val(),
                AdditionalInformation: $("#EditUserAddressForm input[name='AdditionalInformation']").val()
            };
            $.ajax({
                type: 'POST',
                url: "UserAddress/Edit",
                data: userAddress,
                success: function (data) {
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                    let parsed = $.parseHTML(data);
                    let hasError = $(parsed).find("input[name='isValid']").val() == "true";

                    if (hasError == true) {
                        $("#UserAddressModal").html(data);
                    }
                    else {                        
                        bootstrap.Modal.getInstance(document.getElementById('UserAddressModal')).hide();                      
                        $('.content-item-delivery').html(data);
                    }                   
                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });

        });
       

        $(document).on('click', '.btn-delete-itemUserAddress', function () {
            let btn = $(this);
            btn.prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            let Id = $(this).val();
            let antiForgeryToken = $("input[name='__RequestVerificationToken']").val();
            $.ajax({
                type: 'POST',
                url: "UserAddress/Delete",
                data: {
                    __RequestVerificationToken: antiForgeryToken,
                    id: Id
                },
                success: function (data) {
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                    $('.content-item-delivery').html(data);

                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });
        });

        $(document).on('click', '#delivery_id_2', function () {
            $('.content-item-delivery').html("<div class='container-addresses-store'> Ваш заказ будет ждать вас по адресу...</div>")
        });

        $(document).on('click', '#delivery_id_3', function () {
            $('.content-item-delivery').children().remove();
        });


    </script>
}







