﻿@{
    
}

<div class="main-orderComplete">
    <div class="container-orderComplete">
        <div class="block-img-orderComplete">
            <img src="/css/icon/complete.png"/>
        </div>
        <div class="header-orderComplete">
            <span>Спасибо, ваш заказ оформлен</span>
        </div>

        <div class="block-info-orderComplete">
            <span>Письмо с заказом отправлено на ваш e-mail</span>
        </div>

        <a asp-controller="Home" asp-action="Index" asp-area="" ><input class="btn-go-buy" type="button" value="Продолжить покупки"></a>
    </div>
</div>
<link href="~/css/orderComplete.css" rel="stylesheet" />