﻿@model WebApplication8.Models.RegistrationModel

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-5">

        <div class="container-login-register">
            <div class="container-login-register-top">
                <div class="popup-header">Регистрация</div>
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
            </div>

            <form class="form-block" id="RegistrationForm" name="RegistrationForm" asp-controller="Account" asp-action="Registration">
                <div class="sms-valid-summary" asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="RegistrationInValid" />

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" required asp-for="FirstName">
                        <span class="placeholder ">Имя</span>
                    </label>
                    <span class="sms-valid" asp-validation-for="FirstName"></span>
                </div>

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" required asp-for="Email">
                        <span class="placeholder ">Электронная почта</span>
                    </label>
                    <span class="sms-valid" asp-validation-for="Email"></span>
                </div>

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="password" required asp-for="Password">
                        <span class="placeholder">Пароль</span>
                        <span class="btn-show-hide-password"></span>
                    </label>
                    <span class="sms-valid" asp-validation-for="Password"></span>
                </div>

                <input class="auth-btn" id="registration" name="registration" type="button" value="Зарегистрироваться">
            </form>

            <div class="container-login-register-bottom">
                <a data-bs-target="#LoginModal" data-bs-toggle="modal" data-bs-dismiss="modal">Уже есть аккаунт?</a>
            </div>
       
        </div>
    </div>
</div>

