﻿@model IEnumerable<WebApplication8.Models.UserAddress>

<div class="main-customer">
    <h1>Мои адресса</h1>
    <div class="container-customer">

        <ul class="">
            <li><a asp-controller="Customer" asp-action="CustomerData" asp-area="">Мои данные</a></li>
            <li><a asp-controller="Customer" asp-action="Orders" asp-area="">Мои заказы</a></li>
            <li><a asp-controller="Customer" asp-action="CustomerAdress" asp-area="" class="active">Мои Адреса</a></li>
        </ul>

        <div class="content-customer">
            <div class="container-userAddress">
                @foreach (var item in Model)
                {
                
                <div class="column-userAdress">
                    <div class="wrapper-column-userAdress">
                        <div class="field-userAddress FullName">@item.FirstName @item.LastName</div>
                        <div class="field-userAddress City">@item.City</div>
                        <div class="field-userAddress Street">@item.Street</div>
                        <div class="field-userAddress Home">@item.Home</div>
                        <div class="field-userAddress Apartment">@item.Apartment</div>
                        <div class="field-userAddress PhoneNumber">@item.PhoneNumber</div>
                        @if (String.IsNullOrEmpty(item.AdditionalInformation))
                        {
                            <div class="field-userAddress AdditionalInformation">---</div>
                        }
                        else
                        {
                            <div class="field-userAddress AdditionalInformation">@item.AdditionalInformation</div>
                        }
                    <form  class="form-btn-delete-change-userAddress" method="post">
                        <button id="btn-change-userAdress" type="button" value="@item.Id">Изменить</button>
                        <button id="btn-delete-userAdress" type="button" value="@item.Id">удалить</button>
                    </form>
                    </div>
                </div>
                }
            </div>
            <input type="submit" value="Добавить новый адрес" id="btn-submit-add-new-userAddress" />
        </div>

    </div>
</div>

<div class="modal fade" id="UserAddressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<link href="~/css/userAddress.css" rel="stylesheet" />
<link href="~/css/customers.css" rel="stylesheet" />

@section Scripts {

    <script type="text/javascript">

        $(document).on('click', '#btn-submit-add-new-userAddress', function () {
            let btn = $(this);
            btn.prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            $.ajax({
                type: 'GET',
                url: "/UserAddress/Create",
                data: {
                },
                success: function (data) {
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                    $('#UserAddressModal').html(data);
                    new bootstrap.Modal(document.getElementById('UserAddressModal')).show();

                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });

        });

        $(document).on('click', '#btn-submit-create-userAdress', function () {
            let btn = $(this);
            btn.prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            var userAddress = {
                __RequestVerificationToken: $("#CreateUserAddressForm input[name='__RequestVerificationToken']").val(),
                id: $("#CreateUserAddressForm input[name='Id']").val(),
                FirstName: $("#CreateUserAddressForm input[name='FirstName']").val(),
                LastName: $("#CreateUserAddressForm input[name='LastName']").val(),
                PhoneNumber: $("#CreateUserAddressForm input[name='PhoneNumber']").val(),
                City: $("#CreateUserAddressForm input[name='City']").val(),
                Home: $("#CreateUserAddressForm input[name='Home']").val(),
                Street: $("#CreateUserAddressForm input[name='Street']").val(),
                Apartment: $("#CreateUserAddressForm input[name='Apartment']").val(),
                AdditionalInformation: $("#CreateUserAddressForm input[name='AdditionalInformation']").val()
            };
            $.ajax({
                type: 'POST',
                url: "/UserAddress/Create",
                data: userAddress,
                success: function (data) {
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                    var parsed = $.parseHTML(data);
                    var hasError = $(parsed).find("input[name='isValid']").val() == "true";

                    if (hasError == true) {
                        $("#UserAddressModal").html(data);
                    }
                    else {
                        bootstrap.Modal.getInstance(document.getElementById('UserAddressModal')).hide();
                        location.reload();
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });

        });


        $(document).on('click', '#btn-change-userAdress', function () {
            let btn = $(this);
            btn.prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            var Id = $(this).val();
            $.ajax({
                type: 'GET',
                url: "/UserAddress/Edit",
                data: {
                    id: Id
                },
                success: function (data) {
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                    $('#UserAddressModal').html(data);
                    new bootstrap.Modal(document.getElementById('UserAddressModal')).show();

                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });

        });

        $(document).on('click', '#btn-edit-userAdress', function () {
            let btn = $(this);
            btn.prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            var userAddress = {
                __RequestVerificationToken: $("#EditUserAddressForm input[name='__RequestVerificationToken']").val(),
                id: $("#EditUserAddressForm input[name='Id']").val(),
                FirstName: $("#EditUserAddressForm input[name='FirstName']").val(),
                LastName: $("#EditUserAddressForm input[name='LastName']").val(),
                PhoneNumber: $("#EditUserAddressForm input[name='PhoneNumber']").val(),
                City: $("#EditUserAddressForm input[name='City']").val(),
                Home: $("#EditUserAddressForm input[name='Home']").val(),
                Street: $("#EditUserAddressForm input[name='Street']").val(),
                Apartment: $("#EditUserAddressForm input[name='Apartment']").val(),
                AdditionalInformation: $("#EditUserAddressForm input[name='AdditionalInformation']").val()
            };
            $.ajax({
                type: 'POST',
                url: "/UserAddress/Edit",
                data: userAddress,
                success: function (data) {
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                    var parsed = $.parseHTML(data);
                    var hasError = $(parsed).find("input[name='isValid']").val() == "true";
                    console.log(hasError)

                    if (hasError == true) {
                        $("#UserAddressModal").html(data);
                    }
                    else {
                        bootstrap.Modal.getInstance(document.getElementById('UserAddressModal')).hide();
                        location.reload();
                    }
                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });

        });


        $(document).on('click', '#btn-delete-userAdress', function () {
            const Id = $(this).val();
            $('#btn-delete-userAdress').prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            $.ajax({
                type: 'POST',
                url: "/UserAddress/Delete",
                data: {
                    id: Id,
                    __RequestVerificationToken: $(".form-btn-delete-change-userAddress input[name='__RequestVerificationToken']").val()
                },
                success: function (data) {
                    location.reload();                  
                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });

        });




    </script>
}