﻿@model WebApplication8.Models.CustomerDataViewModel

<div class="main-customer">

    <h1>Мои данные</h1>

    <div class="container-customer">

        <ul class="">
            <li><a asp-controller="Customer" asp-action="CustomerData" asp-area="" class="active">Мои данные</a></li>
            <li><a asp-controller="Customer" asp-action="Orders" asp-area="">Мои заказы</a></li>
            <li><a asp-controller="Customer" asp-action="CustomerAdress" asp-area="">Мои Адреса</a></li>
        </ul>

        @{
            var dataSaveSuccess = Model.ModelSuccess.Where(i => i.Parametr == "data").FirstOrDefault();
            var passwordSaveSuccess = Model.ModelSuccess.Where(i => i.Parametr == "password").FirstOrDefault();
         }

        <div class="content-customer">
            <div class="header-content-customer">
                <h5>Мои данные</h5>
                <span class="required-info"><span class="star-required">*</span>обязательное поле</span>
                @if (dataSaveSuccess != null)
                {
                    <div class="block-success-message">@dataSaveSuccess.Message</div>
                }
            </div>

            <form asp-controller="Customer" asp-action="CustomerData" asp-area="" class="form-customer-data">

                <div class="blocksTogether">
                    <div class="block-input-fields">
                        <label class="input-fields">
                            <input type="text" asp-for="@Model.FirstName" placeholder=" ">
                            <span class="placeholder"><span class="star-required">*</span>Имя</span>
                        </label>
                        <span asp-validation-for="@Model.FirstName" class="sms-valid"></span>
                    </div>


                    <div class="block-input-fields">
                        <label class="input-fields">
                            <input type="text" asp-for="@Model.LastName" placeholder=" ">
                            <span class="placeholder"><span class="star-required">*</span>Фамилия</span>
                        </label>
                        <span asp-validation-for="@Model.LastName" class="sms-valid"></span>
                    </div>
                </div>

                <div class="blocksTogether">
                    <div class="block-input-fields">
                        <label class="input-fields">
                            <input type="text" asp-for="@Model.PhoneNumber" placeholder=" ">
                            <span class="placeholder"><span class="star-required">*</span>Номер телефона</span>
                        </label>
                        <span asp-validation-for="@Model.PhoneNumber" class="sms-valid"></span>
                    </div>

                    <div class="block-input-fields">
                        <label class="input-fields">
                            <input type="text" asp-for="@Model.Email" placeholder=" ">
                            <span class="placeholder"><span class="star-required">*</span>Почта</span>
                        </label>
                        <span asp-validation-for="@Model.Email" class="sms-valid"></span>
                    </div>
                </div>

                <div class="form-customer-password">
                    <div class="header-content-customer">
                        <h5>Изменить пароль</h5>
                        @if (passwordSaveSuccess != null)
                        {
                            <div class="block-success-message">@passwordSaveSuccess.Message</div>
                        }

                        <div asp-validation-summary="ModelOnly" class="sms-valid-summary"></div>
                    </div>

                    <div class="block-input-fields">
                        <label class="input-fields">
                            <input type="password" asp-for="@Model.CurrentPassword" placeholder=" ">
                            <span class="placeholder">Текущий пароль</span>
                        </label>
                        <span asp-validation-for="@Model.CurrentPassword" class="sms-valid"></span>
                    </div>

                    <div class="block-input-fields">
                        <label class="input-fields">
                            <input type="password" asp-for="@Model.Password" placeholder=" ">
                            <span class="placeholder">Новый пароль</span>
                        </label>
                        <span asp-validation-for="@Model.Password" class="sms-valid"></span>
                    </div>

                    <div class="block-input-fields">
                        <label class="input-fields">
                            <input type="password" asp-for="@Model.ConfirmPassword" placeholder=" ">
                            <span class="placeholder">Подтвердите пароль</span>
                        </label>
                        <span asp-validation-for="@Model.ConfirmPassword" class="sms-valid"></span>
                    </div>

                </div>
                <input type="submit" value="Сохранить" id="btn-submit-change-customer-data" />
            </form>

        </div>

    </div>
</div>

<link href="~/css/customers.css" rel="stylesheet" />

