﻿@model WebApplication8.Models.CustomerOrdersViewModel

<div class="main-customer">

    <h1>Мои заказы</h1>   

    <div class="container-customer">
        <ul class="">
            <li><a asp-controller="Customer" asp-action="CustomerData" asp-area="" >Мои данные</a></li>
            <li><a asp-controller="Customer" asp-action="Orders" asp-area="" class="active" >Мои заказы</a></li>
            <li><a asp-controller="Customer" asp-action="CustomerAdress" asp-area="" >Мои Адреса</a></li>
        </ul>

        <div class="content-customer">
            <div class="top-content-customer">
                <p>Всего @String.Concat(@Model.Orders.Count(), "шт.")</p>
                <div class="page-imiter">

                </div>
            </div>

            <div class="table-customer">
                <div class="top-table-customer">
                    <div class="top-table id">Номер</div>
                    <div class="top-table orderDate">Дата</div>
                    <div class="top-table customer">Получатель </div>
                    <div class="top-table price">Стоимость</div>
                    <div class="top-table status">Статус</div>
                    <div class="top-table details">Детали</div>
                </div>

                <div class="container-table-customer">
                    @foreach (var order in Model.Orders)
                    {
                        <div class="content-table-customer">
                            <div class="header-content-table">
                                <div class="top-content-table id">@order.Id</div>
                                <div class="top-content-table orderDate">@order.OrderDate.ToShortDateString()</div>
                                <div class="top-content-table FullName">@Model.User.FirstName @Model.User.LastName</div>
                                <div class="top-content-table Total">@order.Total</div>
                                <div class="top-content-table Status">@order.Status</div>
                                <div class="top-content-table moreDetails"> <span></span></div>
                            </div>

                            <div class="mobile-header-content-table">
                                <div class="top-content-table id">@order.Id</div>
                                <div class="top-content-table orderDate">@order.OrderDate.ToShortDateString()</div>
                                <div class="top-content-table FullName">@Model.User.FirstName @Model.User.LastName</div>
                                <div class="top-content-table Total">@order.Total</div>
                                <div class="top-content-table Status">@order.Status</div>
                                <div class="top-content-table moreDetails"><span></span></div>
                            </div>

                            <div class="wrapper-customer-order">
                                <div class="container-customer-order">
                                    @foreach (var item in order.OrderDetails)
                                    {
                                        if (item.CustomBox != null)
                                        {
                                            <div class="item-container-customer-order">

                                                <div class="item-content">
                                                    <div class="item-img">
                                                        <img src="@item.CustomBox.ImageBox" />
                                                        <div class="item-title">@item.CustomBox.Title </div>
                                                    </div>
                                                    
                                                    <div class="item-price-quantity">Цена: @String.Concat(@item.CustomBox.TotalPrice, "р.") <br /> кол-во: @String.Concat(@item.Quantity, "шт.") </div>
                                                    <div class="item-sum-price">Сумма:   @String.Concat(@item.UnitPrice, "р.")  </div>
                                                </div>

                                                <div class="item-list-item-in-customBox">
                                                    <ul>
                                                        @foreach (var el in item.CustomBox.Items)
                                                        {
                                                            <li>@el.Title</li>
                                                        }

                                                    </ul>
                                                </div>

                                            </div>
                                        }

                                        if (item.Box != null)
                                        {
                                            <div class="item-container-customer-order">
                                                <div class="item-content">

                                                    <div class="item-img">
                                                        <a asp-controller="Box" asp-action="Details" asp-route-id="@item.Box.Id" asp-area=""> <img src="@item.Box.ImageBox" /> </a>
                                                        <div class="item-title">@item.Box.Title </div>
                                                    </div>
                                                   
                                                    <div class="item-price-quantity">Цена: @String.Concat(@item.Box.FullPrice, "р.") <br /> кол-во: @String.Concat(@item.Quantity, "шт.") </div>
                                                    <div class="item-sum-price">Сумма:   @String.Concat(@item.UnitPrice, "р.")  </div>
                                                </div>
                                            </div>
                                        }

                                    }

                                    <div class="info-method-payment">
                                        @if (order.PaymentTransactionId == "1")
                                        {
                                            <span>Cпособ оплаты: Картой на сайте</span>
                                        }
                                        @if (order.PaymentTransactionId == "2")
                                        {
                                            <span>Cпособ оплаты: Наличными при получении</span>
                                        }
                                    </div>
                                    <div class="info-method-delivery">
                                        @if (order.DeliveryId == 1)
                                        {
                                            <div class="header-method-delivery">Доставка курьером по адрессу:</div>
                                            <div class="info-adressDelivery">
                                                <span>@order.FullNameCustomer </span>
                                                <span>@order.AddressDeliveryCustomer </span>
                                                <span>тел @order.NumberTelephoneCustomer</span>
                                                <span> @( String.IsNullOrEmpty(order.AdditionalInformationDelivery) ? "" : "доп.инф: " + order.AdditionalInformationDelivery )  </span>
                                            </div>
                                        }
                                        @if (order.DeliveryId == 2)
                                        {
                                            <div class="header-method-delivery">
                                                Самовывоз из магазина:   @order.AddressStoreFromPickUp
                                            </div>
                                        }
                                        @if (order.DeliveryId == 3)
                                        {
                                            <div class="header-method-delivery">
                                                Пункт самовывоза по адресу: -----
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="bottom-content-customer">
                <span>Страница
                    <span><a>1</a></span>
                    
                </span>

            </div>

        </div>

    </div>
</div>

<link href="~/css/customers.css" rel="stylesheet" />

@section Scripts {

<script type="text/javascript">

     $(function () {

         $(document).on('click', '.moreDetails', function () {
             $(this).toggleClass('active');
             $(this).parent().siblings('.wrapper-customer-order').slideToggle("slow");
             
         });

     });
</script>
}