@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*,*::before,*::after {box-sizing: border-box;}
ul[class],ol[class] {padding: 0;}
body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd {margin: 0;}
body {min-height: 100vh;scroll-behavior: smooth;text-rendering: optimizeSpeed;line-height: 1.5;}
ul[class],ol[class] {list-style: none;}
a:not([class]) {text-decoration-skip-ink: auto;}
img {max-width: 100%;display: block;}
article > * + * { margin-top: 1em;}
input,button,textarea,select {font: inherit;-webkit-appearance: none;}

:root{
	--hover-color:#ca9c12;
	--border-color: gray;
	--main-color: #fff;
	--header-element-container-checked-color: rgba(128, 128, 128, 0.192);
	--header-submenu-checked-color: rgba(146, 146, 146, 0.164);
	--submenu-content-color: rgba(122, 122, 122, 0.062);
	--footer-color: rgba(216, 216, 216, 0.322);
	--submit-btn-color: rgba(165, 165, 165, 0.685);
}

*{
	margin: 0;
	position: 0;
	outline: none;
	user-select: none;
	color: rgb(56, 56, 56);
}

html,body{
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	/* height: 2000px; */
}


.styleCheckbox {display: none;}

.styleCheckbox + .labelStyleCheckbox:before {
    content: "\2714";
    color: transparent;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: 900;
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .2s;
}

.styleCheckbox:checked + .labelStyleCheckbox:before {
    color: var(--hover-color);
  border-color: #000;
}

.wrapper{
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(55, 202, 228, 0.082);
}

main{
	flex: 1 1 auto;
}

body{background-color: #fffffff3}
a{text-decoration: none;}
li{list-style-type: none;}

header{
	width: 100%;
	height: 100px;
	/* float: left; */
	position: fixed;
	/* background-color: rgba(161, 161, 161, 0.4); */
}



 /* start header top */
.header-top{
	width: 100%;
	height: 65%;
	display: flex;
	background-color: var(--main-color);
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 5px 0px;
}

.header-top .block.left{
	width: 30%;
	height: 100%;
	justify-content: flex-start;
	padding-left: 25px;
}

.header-top .block.logo {
	width: 40%;
	height: 100%;
	font-size: 350%;
	display: flex;
	font-family: 'Cinzel', serif;
}

.header-top .block.right{
	width: 30%;
	height: 100%;
	justify-content: flex-end;
	padding-right: 25px;
}

.header-top .block{
	display: flex;
	align-items: center;
}

.header-top .block .icon{
	font-size: 18px;
}


.block-left-icon-menu::before{
	font-family: "Material Icons";
	content: '\e5d2';
}


.block-left-numberTel::before{
	font-family: "Material Icons";
	content: '\e0cd';
}

.block-left-map::before{
	font-family: "Material Icons";
	content: '\e0c8';
}

.block-right-loginInAccount::before{
	font-family: "Material Icons";
	content: '\e853';
}

.header-top .block.left .block-left-icon-menu{
	display: none;
}


.block-right-cart::before{
	font-family: "Material Icons";
	content: '\e8cc';
}

.header-top .block.logo{
	justify-content: center;
}


.header-top .block > a{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 15px 0 2px;
	font-size: 18px;
}

.header-top .block a:hover{
	color: var(--hover-color);
}
 /* stop header top */


/* start header bottom - main menu */
/* start desktop menu */
 .header-bottom{
	width: 100%;
	height: 70px;
	display: flex;
	align-items: flex-start;
	background-color: var(--main-color);
}

.menu{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.menu input{
	display: none;
}


.menu .menu-mobile-arrow_back{
	display: none;
}

.menu.mobile .menu-mobile-arrow_back::before{
	font-family: "Material Icons";
	content: '\e5c4';
}

.menu.mobile .menu-mobile-arrow_back{
	display: flex;
	padding: 10px;
	border-bottom: 0.2px solid;
	border-color: var(--border-color);
	font-size: 24px;
}

.menu.mobile .menu-mobile-arrow_back:hover{
	color: var(--hover-color);
}


.menu .container-menu{
	width: 100%;
	height: 100%;
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.menu .container-submenu{
	width: 100%;
	z-index: 0;
}

.menu .element-container-menu a .header-element-container{
	font-size: 20px;
	padding: 1px 10px 5px 10px;
	text-transform: uppercase; 
    font-weight: 530; 
    cursor: pointer; 
}

.menu .container-menu .element-container-menu:hover a .header-element-container{
	color: var(--hover-color);
}

.menu .container-menu .element-container-menu .container-submenu{
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	background-color: var(--main-color);
	left: 0;
	margin-top: -5px;
	display: none; 
	padding: 25px 25px;
}

.menu .container-menu .element-container-menu:hover > .container-submenu{
	 display: flex; 
}


.menu .element-container-menu .container-submenu .element-submenu{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.menu .element-container-menu .container-submenu .element-submenu .header-submenu{
	text-transform: uppercase; 
    font-weight: 550; 
    cursor: pointer; 
}

.menu .element-container-menu .container-submenu .element-submenu > a:not(:first-child){
	 padding: 0 5px 5px 1px; /* 1111 */
}

.menu .submenu-content p:hover {
	color: var(--hover-color);
}

.menu .submenu-content p {
	padding: 3px;
}
/* stop desktop menu */
 


/* start mobile menu */
.mobile{
	transform: translateX(-100%);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: var(--main-color);
	transform: translateX(-100%);
	position: absolute;
	overflow-y: auto;
	height: 1000px;
	padding: 5px 0 20px 0;
}

.menu.mobile .container-menu{
	all: initial;
}

.menu.mobile .container-menu .element-container-menu .container-submenu{
	all: initial; 
}

.menu.mobile .container-menu .element-container-menu input:checked ~ a .header-element-container{
	color: var(--hover-color) !important;
	background-color: var(--header-element-container-checked-color);
}

.menu.mobile .container-menu .element-container-menu input:checked ~ .container-submenu{
	display: flex;
	flex-direction: column;
}

.menu.mobile .container-menu .element-container-menu .container-submenu{ 
	display: none; 
}

.menu.mobile .container-menu .element-container-menu .header-element-container{ 
	box-sizing: border-box;
}


.menu.mobile .header-element-container{
	display: block;
	padding: 10px !important;
}


.menu.mobile .header-element-container::after {
	font-family: "Material Icons";
	content: '\e313'; 
	float: right; 
}

.menu.mobile ul li input:checked + a .header-element-container::after {
	font-family: "Material Icons";
	content: '\e316'; 
	float: right;
}

.menu.mobile label{
	border-bottom: 0.2px solid;
	border-color: var(--border-color);
}

.menu.mobile p{
	border-bottom: 0.2px solid;
	border-color: var(--border-color);
}

.menu.mobile ul li ul li input:checked ~ .submenu-content{
	display: flex;
	flex-direction: column;
}

.menu.mobile .submenu-content{
	display: none;
}

.menu.mobile .container-submenu .element-submenu a {
	padding: 0 !important;
}

.menu.mobile .container-submenu .element-submenu a .header-submenu{
	display: block;
	box-sizing: border-box;
	padding: 10px 10px 10px 20px;
}

.menu.mobile .container-submenu .element-submenu input:checked + a .header-submenu{
	color: var(--hover-color);
	background-color: var(--header-submenu-checked-color);
}

.menu.mobile .container-submenu .element-submenu .submenu-content {
	background-color: var(--submenu-content-color);
}

.menu.mobile .container-submenu .element-submenu .submenu-content p{
	padding: 10px 30px;
}

.menu.mobile .header-submenu::after {
	font-family: "Material Icons";
	content: '\e313'; 
	float: right; 
}

.menu.mobile ul li ul li input:checked + a .header-submenu::after {
	font-family: "Material Icons";
	content: "\e316"; 
	float: right;
}



.menu .loginInAccount,.menu .menu-contacts{
	display: none;
}

.menu.mobile .loginInAccount{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.menu.mobile .loginInAccount span{
	margin-right: 5px;
}

.menu.mobile .loginInAccount a{
	color: var(--border-color);
	text-decoration: underline;
}

.menu.mobile .loginInAccount a span:hover{
	color: var(--hover-color);
}

.menu.mobile .menu-contacts{
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.menu.mobile .menu-contacts a{
	padding: 5px 0;
	display: flex;
}

.menu.mobile .menu-contacts .numberTel::before{
	font-family: "Material Icons";
	content: '\e0cd';
	margin-right: 5px;
}

.menu.mobile .menu-contacts .map::before{
	font-family: "Material Icons";
	content: '\e0c8';
	margin-right: 5px;
}

.menu.mobile .menu-contacts a:hover{
	color: var(--hover-color);
}

.open{
	transform: translateX(0%);
	padding: 0 10px;
}


/* stop mobile menu  */


.main-top {
	width: 100%;
	height: 1000px;
	background-image: url(image/фон.jpg);
	background-blend-mode: multiply;
	background-color: #ccc;
	background-size: cover;
	text-align: center;
	color: var(--main-color);
	font-size: 3em;
}


.main-mid{
	width: 100%;
	height: 600px;
	background-color: rgba(231, 129, 12, 0.123);
	display: flex;
	justify-content: center;
	align-items: center;
}




.main-bottom{
	width: 100%;
	height: 400px;
	color: var(--main-color);
	float: left;
	background-image: url(image/1.jpg);
	background-blend-mode: multiply;
	background-color: #ad662f86;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
	text-align: center;
}


.main-bottom h3{
	font-size: 4em;
	color: var(--main-color);
}

.main-bottom h4{
	font-size: 2em;
	color: var(--main-color);
}














footer{
	width: 100%;
	min-height: 250px;
	background-color: var(--footer-color);
	padding: 30px 20px 20px 20px;
	overflow-y: auto;
}

footer input{
	display: none;
}

.footer-top{
	height: 70%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-bottom: 50px;
}

.footer-top .header-container{
	text-transform: uppercase; /* Все буквы заглавные */
    font-weight: bold; /* Жирное начертание */
    cursor: pointer; /* Вид курсора */
}

.footer-top.footer-mobile {
	padding: 0 15px;
	display: block;
}

.footer-top.footer-mobile div .header-container{
	width: 98%;
	padding: 10px 10px;
	border-bottom: 0.5px solid var(--border-color);
}

.footer-top.footer-mobile div .header-container:hover{
	color: var(--hover-color);
}

.footer-top.footer-mobile div input:checked ~ .container{	
	all: initial;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-bottom: 0.5px solid var(--border-color);
}

.footer-top.footer-mobile div input:checked + .header-container{	
	color: var(--hover-color);
}

.footer-top.footer-mobile div input:checked + .header-container::after{	
	font-family: "Material Icons";
    content: '\e316';
    float: right;
}

.footer-top.footer-mobile div .container a{
	padding-left: 20px;
}

.footer-top.footer-mobile div .container{
	display: none;
}

.footer-top.footer-mobile .header-container::after{
	font-family: "Material Icons";
    content: '\e313';
    float: right;
}


.footer-top div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.footer-top div a:hover{
	color: var(--hover-color);
}

.footer-bottom{
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

}




.socialNetwork {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
  
.socialNetwork .link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transition: .5s;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
}



.socialNetwork .link span {
	text-align: center;
	vertical-align: inherit;
	transform: translateY(0.35px);
	color: whitesmoke;
}


.socialNetwork a span:hover {
	transition: 0.4s;
	transform: translateY(0.5px) rotate(360deg);
}

.socialNetwork .link.vk {
	background-color: rgb(52, 117, 221);
}

.socialNetwork .link.whatsapp {
	background-color: rgb(10, 170, 23);
}

.socialNetwork .link.telegram {
	background-color: rgb(5, 149, 221);
}

.socialNetwork .link.instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-clip: text; 
}

.rights{
	width: 700px;
	text-align: center;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}











.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.75;
	z-index: 9999;
}
.popup {
	position: fixed;
	top: 10%;
	left: 50%;
	min-height: 650px;
	width: 550px;
	margin-left: -300px;	
	background: #fff;
	border: 2px solid var(--hover-color);
	/* border-radius: 4px;  */
	z-index: 99999;
	opacity: 1;	
	color: #000;
	padding: 50px 20px;
}
.popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
}

.popup-fade a:hover{
	color: var(--hover-color);
	text-decoration: underline;
}



.form-auth{
	display: flex;
	flex-direction: column;
}

.popup-top{
	height: 50px;
	font-size: 28px;
	padding: 0 45px;
}
.popup-top .popup-header{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-top .btn-popup-close{
	 position: absolute;
	 top: 0px;
	 right: 10px; 
	 font-size: 32px; 
}

.popup-top .btn-popup-close:hover{
	font-size: 36px;
	top: -2.5px;
	right: 8px; 
	color: var(--hover-color); 
}

.popup-top .btn-popup-close::before{
	font-family: "Material Icons";
	content: '\e5cd'; 
}

.popup-block{
	display: block;
	padding: 0 30px;
}

.popup-block .block-input-fields .sms-valid{
	color: rgb(221, 71, 71);
	padding: 2px 15px;
}

.popup-block .block-input-fields{
	margin-bottom: 25px
}


.popup-block .input-fields{
	display: block;
    position: relative;
}


.popup-block .input-fields input:focus ~ .placeholder,
 .popup-block .input-fields input:not(:focus):valid + .placeholder {
	transform: translateY(-10px);
	font-size: 12px;
}


.popup-block .input-fields .placeholder{
	display: block;
    font-size: 16px;
    color: #b3b3b3;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: transform .3s ease,color .25s ease;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.2;
    z-index: 100;
    text-align: left;	
}

.btn-show-hide-password{
	content: url(icon/open_eye.c2b7c73.svg);
    position: absolute;
    left: auto;
    right: 19px;
    top: 19px;
    width: 20px;
    color: #5c5c5c;
    z-index: 100;
    cursor: pointer;
	transform: translateY(5px);
}

.show-password{
	content: url(icon/close_eye.806fc9e.svg);
}


.popup-block input:not(input[type=checkbox],input[type=button]){
	width: 100%;
    font-size: 20px;
	padding: 18px 15px 10px 15px;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--border-color);
}

.popup-block .popup-block-options{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 10px;
}

.popup-block .popup-block-options .options-remember{
	display: flex;
	align-items: center;
}


.popup-block .auth-btn{
	width: 100%;
	height: 50px;
	font-size: 18px;
	background-color: var(--submit-btn-color);
	color: var(--main-color);
	border: 1px solid var(--hover-color);
}

.popup-block .auth-btn:hover{
	color: var(--hover-color);
}

.popup-bottom{
	margin-top: 30px;
	text-align: center;
}

.form-auth{
	/* display: block; */
	/* display: none; */
}

.form-registr{
	/* display: block; */
	display: none;
}

.form-registr .popup-block-options label{
	text-align: center;
	
}
.popup-fade.mobile-popup::before{
	all: initial;
}


.popup-fade.mobile-popup .popup{
	position: fixed;
	height: 100% ; 
	width: 100% ;
	margin-left: 0;
	top: 52px;
	left: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}


@media(max-width: 900px) {
	header{
		height: 80px;
	}
	header .header-top{
		border-bottom: 3px solid;
		border-color: var(--border-color);
	}
	header .header-bottom{
		/* display: none; */
		height: 0px;
	}
	header .block .label{
		display: none;
	}
	header .header-top .block.logo{
		font-size: 32px;
	}
	header .header-top .block.left .block-left-icon-menu{
		display: flex;
		font-size: 32px;
	}
	header .header-top .block.left .block-left-numberTel{
		display: none;
	}
	header .header-top .block.left .block-left-map{
		display: none;
	}
	.header-top .block .icon{
		font-size: 22px;
	}



	footer{
		padding: 20px 0 50px 0;
	}
	.rights{
		width: 350px;
	}
}

@media(max-width: 400px) {
	header .header-top .block.logo{
		font-size: 28px;
	}

}