@charset "UTF-8";
* {
  margin: 0;
  position: 0;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #383838;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  height: 2000px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(55, 202, 228, 0.082);
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  background-color: #fffffff3;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
}
header .header-top {
  width: 100%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 5px 0px;
}
header .header-top .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-top .block .icon {
  font-size: 18px;
  font-family: "Material Icons";
}
header .header-top .block > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px 0 2px;
  font-size: 18px;
}
header .header-top .block a:hover {
  color: #ca9c12;
}
header .header-top.left {
  width: 30%;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 20px;
}
header .header-top.left .block-left-icon-menu {
  display: none;
}
header .header-top.left .block-left-icon-menu::before {
  content: "";
}
header .header-top.left .block-left-numberTel::before {
  content: "";
}
header .header-top.left .block-left-map::before {
  content: "";
}
header .header-top.logo {
  width: 40%;
  height: 100%;
  font-size: 350%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Cinzel", serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-top.right {
  width: 30%;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}
header .header-top.right .block-right-loginInAccount::before {
  content: "";
}
header .header-top.right .block-right-cart::before {
  content: "";
}
header .header-bottom {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
}
header .header-bottom .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .header-bottom .menu input {
  display: none;
}
header .header-bottom .menu .menu-mobile-arrow_back {
  display: none;
}
header .header-bottom .menu .menu-mobile-arrow_back:before {
  font-family: "Material Icons";
  content: "";
}
header .header-bottom .menu .container-menu {
  width: 100%;
  height: 100%;
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .header-bottom .menu .container-menu .element-container-menu a .header-element-container {
  font-size: 20px;
  padding: 1px 10px 5px 10px;
  text-transform: uppercase;
  font-weight: 530;
  cursor: pointer;
}
header .header-bottom .menu .container-menu .element-container-menu a .header-element-container:hover {
  color: #ca9c12;
}
header .header-bottom .menu .container-menu .element-container-menu .container-submenu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
  left: 0;
  margin-top: -5px;
  display: none;
  padding: 25px 25px;
}
header .header-bottom .menu .container-menu .element-container-menu .container-submenu .element-submenu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-bottom .menu .container-menu .element-container-menu .container-submenu .element-submenu a .header-submenu {
  text-transform: uppercase;
  font-weight: 550;
  cursor: pointer;
}
header .header-bottom .menu .container-menu .element-container-menu .container-submenu .element-submenu .submenu-content {
  width: 100%;
  z-index: 0;
}
header .header-bottom .menu .container-menu .element-container-menu .container-submenu .element-submenu .submenu-content p {
  padding: 3px;
}
header .header-bottom .menu .container-menu .element-container-menu .container-submenu .element-submenu .submenu-content p:hover {
  color: #ca9c12;
}
header .header-bottom.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: absolute;
  overflow-y: auto;
  top: 50px;
  height: 700px;
  padding: 5px 0 20px 0;
}
header .header-bottom.mobile .menu-mobile-arrow_back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-bottom: 0.2px solid gray;
  font-size: 24px;
}
header .header-bottom.mobile .menu-mobile-arrow_back:hover {
  color: #ca9c12;
}
header .header-bottom.mobile .container-menu {
  all: initial;
}