﻿@using Microsoft.AspNetCore.Identity
@using WebApplication8.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User) && (await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin") || await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "manager")))
{
    <div class="account__admin" >
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
                <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z" />
            </svg>
            @if (await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "manager") && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
            {
                <p>админ</p>
            }
            @if (await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin") && !await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "manager"))
            {
                <p>админ</p>
            }
            @if (!await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin") && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "manager"))
            {
                <p>менеджер</p>
            }


        </a>

        <div class="account__admin__dropdown">
            @if (await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
            {
                <div class="separator"><span>Админ</span></div>
                <a class="dropdown-item" asp-area="Admin" asp-controller="Roles" asp-action="Index" >Роли</a>
                @*<a class="dropdown-item" asp-area="Admin" asp-controller="TypeBox" asp-action="Index">Типы боксов</a>*@
                <a class="dropdown-item" asp-area="Admin" asp-controller="CategoryBox" asp-action="Index">Категории боксов</a>
                <a class="dropdown-item" asp-area="Admin" asp-controller="Box" asp-action="Index">Боксы</a>
                <a class="dropdown-item" asp-area="Admin" asp-controller="CategoryItem" asp-action="Index">Категории предметов</a>
                <a class="dropdown-item" asp-area="Admin" asp-controller="Item" asp-action="Index">Предметы</a>
            }
            @if (await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "manager"))
            {
                <div class="separator"><span>Менеджер</span></div>
                <a class="dropdown-item" asp-area="Manager" asp-controller="Orders" asp-action="List">Заказы</a>
            }
        </div>
    </div>
    
}