﻿<link rel="stylesheet" href="~/css/footer.css" />

<div class="container__footer">
    <div class="top__footer">

        <div class="container__new__subscribe">
            <div class="title__new__subscribe">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-plus" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z" />
                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z" />
                </svg>
                <div>Скидки, акции, новинки - подпишитесь! </div>
            </div>
            <div class="block__form__new__subscribe">
                <form class="new__subscribe__form" action="/" method="post">
                    <input type="email" name="name" value="" placeholder="Введите email" />
                    <button type="submit">Подписаться</button>
                </form>
            </div>
        </div>
       
    </div>

    <div class="middle__footer">
        <ul class="list__info__footer">
            <li class="section__info__footer">
                <input type="checkbox" id="input__footer__catalog" name="name" value="" />
                <label for="input__footer__catalog">Каталог</label>
                <div class="list__info">
                    <a asp-controller="CategoryBox" asp-action="Details" asp-route-id="8" asp-area="">Готовые боксы</a>
                    <a asp-controller="CategoryBox" asp-action="Details" asp-route-id="24" asp-area="">Конструктор боксов</a>
                </div>
            </li>
            <li class="section__info__footer">
                <input type="checkbox" id="input__footer__buyer" name="name" value="" />
                <label for="input__footer__buyer">Покупателю</label>
                <div class="list__info">
                    <a href="#">Доставка</a>
                    <a href="#">Оплата</a>
                    <a href="#">FAQ</a>
                </div>
            </li>
            <li class="info__company">
                <a class="footer__logo" asp-controller="home" asp-action="index" asp-area="">Ti'Skon</a>
                <div class="desc__company">
                    Ti'Skon - это интернет магазин подарочных боксов. Мы создаем готовые боксы и позволяем создать вам самим индивидуальные боксы.
                </div>
            </li>
        </ul>

        <div class="container__socialNetwork">
            <ul class="list__socialNetwork">
                <li>
                    <a href="https://vk.com/public209125462" class="link vk" target="_parent">
                        <span class="fab fa-vk"></span>
                    </a>
                </li>
                <li>
                    <a href="https://t.me/Boxic_bot" class="link telegram" target="_parent">
                        <span class="fab fa-telegram-plane"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ti_skon/" class="link instagram">
                        <span class="fab fa-instagram"></span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="bottom__footer">
        <p>2022 © Ti'Skon</p>
    </div>


</div>


