﻿@model IEnumerable<WebApplication7.Entities.Item>

@{
    ViewData["Title"] = "GetItemsToAdd";
    Layout = null;
}



    @foreach (var item in Model)
    {
        <li class="card-item-addToBox">
            <div>
                <a class="btn-item-addToBox" id="@item.Id">
                    <input type="hidden" value="@item.Id" />
                    <div class="img-item-addToBox">
                        <img src="@item.ImageItem" />

                        <div class="title-item-addToBox">
                            <h5>@item.Title</h5>
                        </div>
                    </div>
                </a>

                <div class="desc-item-addToBox">
                    <p class="brand-item">@item.Brand</p>
                    <span class="price-item">@item.Price р.</span>
                </div>

                <input type="button" id="@item.Id" class="btn-AddItemToBox" value="Добавить">
            </div>
        </li>
    }




