﻿@model WebApplication8.ViewModels.ConstructorBoxViewModel



<div class="container-ConstructorBox">
    <h1>
        Добро пожаловать в конструктор!<br />
        Всего за несколько кликов вы сможете создать свой уникальный бокс.
    </h1>

    <input type="hidden" id="BoxId" asp-for="BoxId" />
    <div class="containerItemsFromBox">
        <ul class="containerItems">
        </ul>

        <div class="bottom-containerItems">
            <div class="containerFullPrice">
                <h5>Итоговая сумма: </h5>
            </div>

            <form class="block-btn-containerItems" method="post">
                <input class="btn-box-ClearBox" type="button" value="Очистить бокс" />
                <input class="btn-box-addToCart" type="button" value="Добавить в корзину" />
            </form>
        </div>

    </div>

    <div class="alert alert-warning alert-dismissible text-center invisible" id="alert">
        <button type="button" class="btn-close" id="btn-hide-alert"></button>
        <strong>Внимание!</strong> Для сборки бокса необоходимо минимум 5 предметов.
    </div>

    <div class="containerItemAddToBox">
        <span style="text-align: center;">Категории косметики</span>
        <select class="select-catagory-items">
            <option>Все предметы</option>
            @foreach (var category in Model.CateforyItems)
            {
                <option value="@category.Id">@category.Title</option>
            }
        </select>
        <ul class="items-for-add-in-box">
            @foreach (var item in Model.ItemsToAdd)
            {
                <li class="card-item-addToBox">
                    <div>
                        <a class="btn-item-addToBox">
                            <input type="hidden" value="@item.Id" />
                            <div class="img-item-addToBox">
                                <img src="@item.ImageItem" />

                                <div class="title-item-addToBox">
                                    <h5>@item.Title</h5>
                                </div>
                            </div>
                        </a>

                        <div class="desc-item-addToBox">
                            <p class="brand-item">@item.Brand</p>
                            <span class="price-item">@item.Price</span>
                        </div>

                        <input type="button" id="@item.Id" class="btn-AddItemToBox" value="Добавить">
                    </div>
                </li>
            }
        </ul>
    </div>

</div>


<link href="~/css/constructorCustomBox.css" rel="stylesheet" />
@section Scripts {
    <script type="text/javascript">
        $(document).on('click', '#btn-hide-alert', function () {
            $('#alert').addClass('invisible');
        });

        $(document).on('click', '.btn-AddItemToBox', function () {
            const id = $(this).siblings('.btn-item-addToBox').children('input[type=hidden]').val();
            const img = $(this).siblings('.btn-item-addToBox').find('img').attr('src');
            const title = $(this).siblings('.btn-item-addToBox').find('h5').text();
            const brand = $(this).siblings('.desc-item-addToBox').children('.brand-item').text();
            const price = $(this).siblings('.desc-item-addToBox').children('.price-item').text();

            $('.containerItems').append(
                '<li class="card-itemFromBox">'+
                    '<div>'+
                        '<a class="icon btnRemoveItemFromBox"></a>'+
                            `<input type="hidden" value=" ${ id } " />`+
                        '<div class="img-itemFromBox">'+
                            `<img src=" ${ img } " />`+
                            '<div class="title-itemFromBox">'+
                                `<h5 class="title-item"> ${ title } </h5>`+
                            '</div>'+
                        '</div>'+

                        '<div class="desc-itemFromBox">'+
                            `<p class="brand-item"> ${ brand } </p>`+
                            `<span class="price-item">${ price }</span>`+
                        '</div>'+
                    '</div>'+
                '</li>')
            СalculatioTotalPrice();
        });


        $(document).on('click', '.btnRemoveItemFromBox', function () {
            const item = $(this).closest('.card-itemFromBox');
            item.remove();
            СalculatioTotalPrice();
        });


        $(document).on('click', '.btn-box-ClearBox', function () {
            const items = $('.card-itemFromBox');
            items.remove();
            СalculatioTotalPrice();
        });

        function СalculatioTotalPrice() {
            let arrItemPrice = document.querySelectorAll('.containerItems .card-itemFromBox .price-item');
            const outPrice = document.querySelector('.containerFullPrice h5');
  
            let total = 0;
            for (var i = 0; i < arrItemPrice.length; i++) {
                total += parseFloat(arrItemPrice[i].textContent)
            }

            if (total === 0)
                outPrice.textContent = "Итоговая сумма:";
            else
                outPrice.textContent = `Итоговая сумма: ${total.toFixed(2)}р.`
        }


        $(document).on('click', '.btn-item-addToBox', function () {
            const itemId = $(this).children('input[type=hidden]').val();
            const btn = $('.btn-item-addToBox');
            $('.progress__bar').css('display', 'flex');
            btn.prop('disabled', true);
            $.ajax({
                type: 'GET',
                url: "/Item/Details",
                data: {
                    id: itemId
                },
                success: function (data) {
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                    $('#ItemDetailsModal .modal-content').html(data);
                    new bootstrap.Modal(document.getElementById('ItemDetailsModal')).show();
                },
                error: function (ex) {
                    console.log('Failed to retrieve data. Exception: ' + ex);
                }
            });

        });


        $(document).on('change', '.select-catagory-items', function () {
            const Id = parseInt($(this).val());
        
            $('.progress__bar').css('display', 'flex');
            $.ajax({
                type: 'GET',
                url: "/ConstructorBox/GetItemsToAdd",
                data: {
                    categoryItemsId: Id
                },
                success: function (data) {
                    $('.progress__bar').css('display', 'none');
                    $('.items-for-add-in-box').html(data);
                },
                error: function (ex) {
                    console.log('Failed to retrieve data. Exception: ' + ex);
                }
            });

        });


        $(document).on('click', '.btn-box-addToCart', function () {           
            let arrItemsId = document.querySelectorAll('.containerItems .card-itemFromBox input[type=hidden]');
            let _arrItemsId = [];
            for (var i = 0; i < arrItemsId.length; i++) {
                _arrItemsId[i] = parseInt(arrItemsId[i].value);
            }
            if (arrItemsId.length < 5) {
                $('#alert').removeClass('invisible');
                return;
            }

            const btn = $(this);
            btn.prop('disabled', true);
            $('.progress__bar').css('display', 'flex');

            $.ajax({
                type: 'POST',
                url: "/ShoppingCart/AddCustomBoxToCart",
                data: {
                    arrItemsId: _arrItemsId,
                    srcImgBox: "/image/products/boxes/q22GBOp17q4.jpg",
                    titleBox: "Общий бокс"
                },
                success: function (data) {                    
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');

                    if (data == "массив меньше 5") {
                        $('#alert').removeClass('invisible');
                        return;
                    }

                    $('#alert').addClass('invisible');
                    const items = $('.card-itemFromBox');
                    items.remove();
                    СalculatioTotalPrice();

                    const counter_shoppingCart = $(".counter__shoppingCart");
                    let new_counter_shoppingCart = Number.parseInt($(".counter__shoppingCart").text())
                    new_counter_shoppingCart++;
                    counter_shoppingCart.text(new_counter_shoppingCart);
                },
                error: function (ex) {
                    alert(222)
                    console.log('Failed to retrieve data. Exception: ' + ex);
                }
            });
            
        });

        



    </script>
}










