﻿@model WebApplication7.Entities.Item

@{
    ViewData["Title"] = "Edit";
}

<div class="container p-2">

    <h3>Изменение "@Model.Title"</h3>

    <div class="mt-2">
        <a class="btn btn-primary" asp-action="Index" asp-route-categoryItemId="@ViewBag.SomeOrAll">
            <i class="bi bi-arrow-left-square text-white"></i>
            Вернуться к списку
        </a>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />


                <div class="form-group py-1">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea rows="12" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="ModeOfApplication" class="control-label"></label>
                    <textarea rows="12" asp-for="ModeOfApplication" class="form-control"></textarea>
                    <span asp-validation-for="ModeOfApplication" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <img id="img__item" class="img-thumbnail mb-2" src="@Model.ImageItem" alt="----" />
                    <input asp-for="ImageItem" type="file" class="form-control-file" value="@Model.ImageItem" onchange="onFileSelected(event)" />
                    <span asp-validation-for="ImageItem" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="CountItem" class="control-label"></label>
                    <input asp-for="CountItem" class="form-control" />
                    <span asp-validation-for="CountItem" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="Priority" class="control-label"></label>
                    <input asp-for="Priority" class="form-control" />
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="CategoryItemId" class="control-label"></label>
                    <select asp-for="CategoryItemId" class="form-control" asp-items="@Model.CategoriesItem">
                        <option>---Категория---</option>
                    </select>
                    <span asp-validation-for="CategoryItemId" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <input type="submit" value="Сохранить" class="btn btn-primary" asp-route-someOrAll="@ViewBag.SomeOrAll" />
                </div>
            </form>
        </div>
    </div>

</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function onFileSelected(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("img__item");
        imgtag.title = selectedFile.name;

        reader.onload = function (event) {
            imgtag.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);
    }
</script>

    }
