﻿@model WebApplication8.Areas.Manager.ViewModels.ManageOrdersViewModels
<link href="~/css/manager.css" rel="stylesheet" />


<form class="container-xl my-4" asp-action="List">
    <h3 class="text-center pb-3">Заказы</h3>

    <div class="container-xl d-flex flex-column">
        <h5 class="text-center">Сортировка</h5>
       
        <div class="row row-cols-1 row-cols-md-4 d-flex justify-content-between align-items-center flex-column flex-md-row flex-nowrap pb-3">

            <div class="w-75 input-group col-md-3 py-3 px-0" id="" style="">
                <input type="text" class="form-control" placeholder="Почта клиента" aria-label="Почта пользователя" aria-describedby="addon-wrapping" name="email"
                       @(String.IsNullOrEmpty(Model.emailInput) ? "" : String.Format("value={0}", Model.emailInput) )>
                <button class="btn btn-outline-secondary p-1" type="button" id="btn-clear-input-email">Очистить</button>
            </div>

            <div class="col d-flex flex-column flex-md-column justify-content-around my-2 my-md-0">
                <div class="form-check ms-md-0" style="margin-left: 40%">
                    <input class="form-check-input" type="checkbox" name="processing" value="в обработке" id="processingChecked"
                           @(String.IsNullOrEmpty(Model.processingCheckBox) ? "" : "checked=\"checked\"")>
                    <label class="form-check-label" for="processingChecked">
                        В обработке
                    </label>
                </div>
                <div class="form-check ms-md-0" style="margin-left: 40%">
                    <input class="form-check-input" type="checkbox" name="confirmed" value="подтвержден" id="confirmedChecked"
                           @(String.IsNullOrEmpty(Model.confirmedCheckBox) ? "" : "checked=\"checked\"")>
                    <label class="form-check-label" for="confirmedChecked">
                        Подтвержденные
                    </label>
                </div>
                <div class="form-check ms-md-0" style="margin-left: 40%">
                    <input class="form-check-input" type="checkbox" name="canceled" value="отменен" id="canceledChecked"
                           @(String.IsNullOrEmpty(Model.canceledCheckBox) ? "" : "checked=\"checked\"")>
                    <label class="form-check-label" for="canceledChecked">
                        Отмененные
                    </label>
                </div>
            </div>

            <div class="col-4 d-flex flex-row flex-md-column justify-content-evenly justify-content-md-center flex-lg-row ">
                <div class="d-flex flex-column justify-content-center  pe-2 pb-2">
                    <span class="text-center">Начальная дата</span>
                    <input class="border border-secondary border-1 rounded" type="date" name="startDate" @(Model.startDate != DateTime.MinValue ? String.Format("value={0}", Model.startDate.ToString("yyyy-MM-dd")) : "" ) />
                </div>
                <div class="d-flex flex-column justify-content-center  pe-2 pb-2">
                    <span class="text-center">Конечная дата</span>
                    <input class="border border-secondary border-1 rounded" type="date" name="endDate" @(String.Format("value={0}", Model.endDate.ToString("yyyy-MM-dd"))) />
                </div>
            </div>

            <div class="col-2 d-flex justify-content-center justify-content-md-end px-0 my-2 my-md-0">
                <button class="btn btn-primary" type="submit" id="button-1">Применить</button>
            </div>

        </div>

    </div>

    <div class="container-table pb-4">
        <div class="row d-none bg-info d-md-flex border border-1 py-2 mx-2 mb-4">
            <div class="col-md-1 d-flex justify-content-center"><strong>Номер</strong></div>
            <div class="col-md-3 d-flex justify-content-center"><strong>Дата</strong></div>
            <div class="col d-flex justify-content-center"><strong>Получатель</strong></div>
            <div class="col d-flex justify-content-center"><strong>Сумма</strong></div>
            <div class="col d-flex justify-content-center"><strong>Статус</strong></div>
            <div class="col d-flex justify-content-center"><strong>Действие</strong></div>
        </div>

        @foreach (var order in Model.Orders)
        {
            string status = "";
            if (order.Status.ToLower() == "в обработке")
                status = "in-processing";
            if (order.Status.ToLower() == "отменен")
                status = "canceled";
            if (order.Status.ToLower() == "подтвержден")
                status = "confirmed";
            
        
        <div class="row row-cols-1 row-cols-md-6 rounded py-2 mx-2 mb-4 table__header @status">
            <div class="col-md-1 d-flex justify-content-center align-items-center" data-label="Номер"><strong>@order.Id</strong></div>
            <div class="col-md-3 d-flex justify-content-center align-items-center" data-label="Дата">@order.OrderDate.ToString("dd.MM.yyyy HH:mm")</div>
            <div class="col d-flex justify-content-center align-items-center text-center" data-label="Получатель">@order.AppUser.FirstName  @order.AppUser.LastName <br /> @order.AppUser.Email</div>
            <div class="col d-flex justify-content-center align-items-center" data-label="Сумма">@String.Concat(@order.Total, "р.")</div>
            <div class="col d-flex justify-content-center align-items-center" data-label="Статус">@order.Status</div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="accordion w-100 " id="accordionExample">
                    <div class="accordion-item bg-transparent border-0">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed  bg-transparent justify-content-center p-1" type="button" data-bs-toggle="collapse" data-bs-target="@String.Concat("#collapseOne", @order.Id)" aria-expanded="true" aria-controls="@String.Concat("collapseOne", @order.Id)">
                                Действия
                            </button>
                        </h2>
                        <div id="@String.Concat("collapseOne", @order.Id)" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body py-1">
                                    <button id="btn__accept__order" class="btn btn-success w-100 mt-2" type="submit" name="status" value="подтвержден" asp-route-idOrder="@order.Id" asp-route-page="@Model.page">Принять заказ</button>
                                    <button id="btn__cancel__order" class="btn btn-danger w-100 mt-2" type="submit" name="status" value="отменен" asp-route-idOrder="@order.Id" asp-route-page="@Model.page" >Отменить заказ</button>
                                <button id="btn__send__sms" class="btn btn-info w-100 mt-2">Отправить смс</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-100 my-3">
                <button id="btn__show__details__order" class="fw-bolder" type="button">Детали заказа</button>
            </div>

            <div class="container__order w-100" style="display: none">
                <div class="list__items d-flex flex-column px-1 py-2">

                    <div class="d-flex flex-wrap justify-content-center mx-auto" >
                        @foreach (var detail in order.OrderDetails)
                        {
                            if (detail.Box == null) continue;
                            <div class="order__items d-flex flex-column align-items-center justify-content-between py-1 px-2 me-sm-auto ms-sm-0">
                                <div class="item__title"><strong>@detail.Box.Title</strong></div>
                                <div class="item__img">
                                    <img src="@detail.Box.ImageBox" />
                                </div>
                                
                                <div class="item__price__quantity pt-1">@String.Concat(detail.Quantity, "шт.") @String.Concat(detail.Box.FullPrice, "р.") </div>
                                <div class="items__total pt-1"><strong>Сумма:</strong>   @String.Concat(detail.UnitPrice, "р.")  </div>
                                <div></div>
                            </div>
                        }
                    </div>
                    <div class="d-flex flex-wrap">
                        @foreach (var detail in order.OrderDetails)
                        {
                            if (detail.CustomBox == null) continue;
                            <div class="order__items w-100 d-flex flex-column align-items-center justify-content-between py-3 px-2 m-auto me-sm-auto ms-sm-0">
                                <div class="item__title"><strong>@detail.CustomBox.Title</strong></div>
                                <div class="item__img">
                                    <img src="@detail.CustomBox.ImageBox" />
                                </div>

                                <div class="list__items__in__customBox">
                                    <ul class="m-0">
                                        @foreach (var item in detail.CustomBox.Items)
                                        {
                                            <li>@item.Title</li>
                                        }

                                    </ul>
                                </div>

                                <div class="item__price__quantity pt-1">@String.Concat(detail.Quantity, "шт.") @String.Concat(detail.CustomBox.TotalPrice, "р.") </div>
                                <div class="items__total pt-1"><strong>Сумма:</strong>   @String.Concat(detail.UnitPrice, "р.")  </div>
                                <div></div>
                            </div>
                        }
                    </div>

                </div>

                <div class="order__method__payment py-1">
                    @if (order.PaymentTransactionId == "1")
                    {
                        <span><strong>Cпособ оплаты:</strong> Картой на сайте</span>
                    }
                    @if (order.PaymentTransactionId == "2")
                    {
                        <span><strong>Cпособ оплаты:</strong> Наличными при получении</span>
                    }
                </div>
                <div class="order__method___delivery py-1">
                    @if (order.DeliveryId == 1)
                    {
                        <div class="header__method__delivery"><strong>Доставка курьером по адрессу:</strong></div>
                        <div class="info__adressDelivery d-flex flex-column">
                            <span>@order.FullNameCustomer </span>
                            <span>@order.AddressDeliveryCustomer </span>
                            <span><strong>тел: </strong> @order.NumberTelephoneCustomer</span>
                            <span> @( String.IsNullOrEmpty(order.AdditionalInformationDelivery) ? "" : "доп.инф: " + order.AdditionalInformationDelivery )  </span>
                        </div>
                    }
                    @if (order.DeliveryId == 2)
                    {
                        <div class="header__method__delivery py-1">
                            <strong>Самовывоз из магазина: </strong>  @order.AddressStoreFromPickUp
                        </div>
                    }
                    @if (order.DeliveryId == 3)
                    {
                        <div class="header__method__delivery py-1">
                            <strong>Пункт самовывоза по адресу: </strong> -----
                        </div>
                    }
                </div>

            </div>

        </div>


            }
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button class="page-link" aria-label="Previous" name="page" @(Model.page <= 0 ?  "disabled" : String.Format("value={0}", Model.page - 1))   >
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </li>
            @for (int i = Model.page-1; i < Model.countPage && i < Model.page+2; i++)
            {
                if (i + 1 == 0) continue;
                <li class="page-item @(Model.page == i ? "active" : "" )"><button class="page-link" name="page" value="@i">@(i + 1)</button></li>
            }

            <li class="page-item">
                <button class="page-link" aria-label="Next" name="page" @(Model.page+1 >= Model.countPage ?  "disabled" : String.Format("value={0}", Model.page + 1)) >
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
          
        </ul>
    </nav>



</form>

@section Scripts {
    <script type="text/javascript">

        $(document).on('click', '#btn__show__details__order', function () {
            $(this).toggleClass('active');
            $(this).parent().siblings('.container__order').slideToggle(300);

        });

        $(document).on('click', '#btn-clear-input-email', function () {
            $(this).siblings('input[type=text]').val('');
            console.log($(this).siblings('input[type=text]'), $(this) )
        });

       

    </script>
    }