﻿ @page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="d-flex align-items-center justify-content-center px-3 py-5">
    <div class="rounded p-4" style="width: 500px; border: 1px solid rgba(96, 81, 81, 0.5); background-color: #f4f4f4; " >
        <div class="container-login-register">
            <div class="container-login-register-top">
                <div class="popup-header">Вход</div>
            </div>

            <form class="form-block" id="account" method="post" asp-route-returnUrl="@Model.ReturnUrl">
                <div class="sms-valid-summary" asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Input.LoginInValid" />

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" required asp-for="Input.Email">
                        <span class="placeholder ">Электронная почта</span>
                    </label>
                    <span class="sms-valid" asp-validation-for="Input.Email"></span>
                </div>

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="password" required asp-for="Input.Password">
                        <span class="placeholder">Пароль</span>
                        <span class="btn-show-hide-password"></span>
                    </label>
                    <span class="sms-valid" asp-validation-for="Input.Password"></span>
                </div>

                <div class="block-options">
                    <div class="options-remember">
                        <input id="check1" class="styleCheckbox" type="checkbox" asp-for="Input.RememberMe">
                        <label class="labelStyleCheckbox" for="check1"></label>
                        <label>Запомнить меня</label>
                    </div>
                </div>

                <input type="submit" class="auth-btn" value="Войти">
            </form>

            <div class="container-login-register-bottom">
                <a id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
                <br />
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>

           

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
