﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex align-items-center justify-content-center px-3 py-5" >
    <div class="rounded p-4" style="width: 500px; border: 1px solid rgba(96, 81, 81, 0.5); background-color: #f4f4f4; ">

        <div class="container-login-register">
            <div class="container-login-register-top">
                <div class="popup-header">Регистрация</div>
            </div>

            <form class="form-block" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="sms-valid-summary" asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Input.RegistrationInValid" />

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" required asp-for="Input.FirstName">
                        <span class="placeholder ">Имя</span>
                    </label>
                    <span class="sms-valid" asp-validation-for="Input.FirstName"></span>
                </div>

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" required asp-for="Input.Email">
                        <span class="placeholder ">Электронная почта</span>
                    </label>
                    <span class="sms-valid" asp-validation-for="Input.Email"></span>
                </div>

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="password" required asp-for="Input.Password">
                        <span class="placeholder">Пароль</span>
                        <span class="btn-show-hide-password"></span>
                    </label>
                    <span class="sms-valid" asp-validation-for="Input.Password"></span>
                </div>
                <input type="submit" class="auth-btn" value="Зарегистрироваться">
            </form>

            <div class="container-login-register-bottom">
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Уже есть аккаунт?</a>
            </div>
        </div>
    </div>
</div>




    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
