﻿
@model WebApplication8.Areas.Admin.ViewModels.AddingItemInBox

<style>
    .outItems {
        width: 100%;
        min-height: 300px;
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
    }

    .outItems .item {
        width: calc((100% - 70px) / 7);
        display: flex;
        position: relative;
        background-color: rgb(232, 232, 232, 0.4);
        border: 0.5px solid rgb(140, 140, 140, 0.5);
        text-align: center;
        margin: 5px;
    }
    .outItems .item.disabled::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #1a1a1a75;
        position: absolute;
    }

    .outItems .item.disabled::after {
        content: 'Предмет уже добавлен';
        top: 40%;
        position: absolute;
        color: #fff;
        font-weight: 700;
        font-size: 1.6em;
        transform: rotate( 315deg);
    }
    @@media(max-width: 1320px){
        .outItems .item {
            width: calc((100% - 60px) / 6);
        }
    }
    @@media(max-width: 1140px) {
        .outItems .item {
            width: calc((100% - 50px) / 5);
        }
    }
    @@media(max-width: 960px) {
        .outItems .item {
            width: calc((100% - 40px) / 4);
        }
    }
    @@media(max-width: 720px) {
        .outItems{
            padding: 0;
        }
        .outItems .item {
            width: calc((100% - 30px) / 3);
        }
    }
    @@media(max-width: 540px) {
        .outItems .item {
            width: calc((100% - 20px) / 2);
        }
    }
    @@media(max-width: 370px) {
        .outItems .item {
            width: calc((100% - 10px) / 1);
        }
    }

    .outItems .item span p {
        margin-bottom: 0;
    }

    .outItems input {
        display: none;
    }

    .outItems .item > span {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .outItems input:checked + span {
        background: rgb(202, 156, 18, 0.2);
    }

    .outItems img {
        width: 100%;
        height: 170px;
    }
    .outItems .item strong{
        font-weight: 600;
    }
    


</style>


<div class="p-2">
    <h3>Добавление предмета в "@ViewBag.TitleIndex"</h3>

    <div class="mt-2">
        <a class="btn btn-primary" asp-action="Index" asp-route-boxId="@Model.BoxId">
            <i class="bi bi-arrow-left-square text-white"></i>
            Вернуться к списку
        </a>
    </div>

    <hr />

    <form asp-action="AddItemToBox">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" id="BoxId" asp-for="BoxId" />

        <div class="form-group py-2 px-3">
            <label class="control-label">Категории предметов</label>
            <select class="form-control" id="selectCategories" asp-items="@Model.AllCategoriesItems">
                <option>---Все предметы---</option>
            </select>
        </div>

        <div class="outItems pt-4 pb-2">
            @await Html.PartialAsync("GetItemsByCategoryItemId", Model)

        </div>

        <div class="form-group text-center py-2">
            <input type="submit" value="Добавить" class="btn btn-primary btn-lg" />
        </div>
    </form>

</div>



@section Scripts {

   
<script type="text/javascript">
    $("#selectCategories").change(function () {
        $('.progress__bar').css('display', 'flex');
        var BoxId = $('#BoxId').val();
        var CategoryItemId = $('#selectCategories').val();
   
        $.ajax({
            type: 'GET',
            url:"/Admin/BoxItem/GetItemsByCategoryItemId",
            data: {
                boxId: BoxId,
                categoryItemId: CategoryItemId
            },
            success: function (data) {
                $('.progress__bar').css('display', 'none');
                $('.outItems').html(data);
            },
            error: function (ex) {
                console.log('Failed to retrieve data. Exception: ' + ex);
            }
        });
    });
</script>
}
