﻿@model WebApplication7.Entities.BoxItems

@{
    ViewData["Title"] = "Delete";
}

<style>
    dt, dd {
        padding: 7px;
        border-bottom: 1px solid #dee2e6;
    }

    @@media(max-width: 577px) {
        dt, dd {
            padding: 2px 10px;
        }

        dt {
            border: none;
        }
    }
</style>

<div class="container p-3">

    <h3>Вы действительно хотите удалить предмет "@Model.Item.Title" из бокса?</h3>

    <div class="mt-2">
        <a class="btn btn-primary" asp-action="Index" asp-route-boxId="@Model.BoxId">
            <i class="bi bi-arrow-left-square text-white"></i>
            Вернуться к списку
        </a>
    </div>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Item.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Item.Title)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Item.Brand)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Item.Brand)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Item.Country)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Item.Country)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Item.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Item.Description)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Item.Price)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Item.Price)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Item.CategoryItemName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Item.CategoryItemName)
            </dd>

        </dl>

        <form asp-action="Delete" class="mt-3">
            <input type="hidden" asp-for="Id" />
            <input class="btn btn-danger" type="submit" value="Удалить"  asp-route-boxId="@Model.BoxId" asp-route-itemId="@Model.ItemId" />
        </form>
    </div>
</div>