﻿@model WebApplication8.Areas.Admin.ViewModels.AddingItemInBox

@{
    Layout = null;
}

@foreach (var item in Model.ItemsToAddingBox)
{

    <script></script>
    <label class="item @(Model.ItemsInBox.Contains(item) ? "disabled"  :  "")">
        <input type="checkbox" name="arrItems" id="@item.Id" value="@item.Id" @(Model.ItemsInBox.Contains(item) ? "checked=\"checked\" " + " disabled=\"disabled\"" : "") />
        <span>
            <img src="@item.ImageItem" />
            <span><strong>Категория:</strong> @item.CategoryItemName</span>
            <span><strong>Название:</strong> @item.Title</span>
            <span><strong>Бренд:</strong> @item.Brand</span>
            <span><strong>Страна:</strong> @item.Country</span>
            <span><strong>Кол-во:</strong> @item.CountItem</span>
            <span><strong>Цена:</strong> @item.Price</span>
        </span>
    </label>
}

        