﻿@model IEnumerable<WebApplication7.Entities.BoxItems>

@{
    ViewData["Title"] = "Index";
}

<style>
    table.table-3 {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    table.table-3 thead {
        border-top: 2px solid #a7a7a7;
    }

    table.table-3 tr {
        border-top: 1px solid #bbbbbb;
    }

    table.table-3 th,
    table.table-3 td {
        text-align: left;
        padding: 5px;
    }

    table.table-3 .accordion {
        width: 200px;
    }

    table.table-3 .accordion-item {
        border: none;
        background-color: transparent;
    }

    table.table-3 .admin__container__img {
        max-width: 200px;
    }

    table.table-3 .accordion-button:focus {
        box-shadow: none;
    }

    @@media(max-width: 831px) {
        table.table-3 {
            border: 0;
        }

        table.table-3 thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table.table-3 tr {
            border-bottom: 1px solid #ddd;
            display: block;
            margin-bottom: 30px;
        }

        table.table-3 td {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            border-top: 1px solid #bbbbbb;
        }

        table.table-3 td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            padding: 3px;
            margin-right: 5px;
        }

        table.table-3 td:last-child {
            border-bottom: 0;
            justify-content: center;
        }

        table.table-3 .accordion {
            width: 100%;
        }
    }
</style>


<div class="container-xl p-3">
    <h3>Бокс: "@ViewBag.TitleIndex"</h3>

    <div class="">
        <a class="btn btn-primary my-2" asp-controller="Box" asp-action="Index" asp-route-categoryBoxId="0">
            <i class="bi bi-arrow-left-square text-white"></i>
            Вернуться
        </a>
        <a class="btn btn-primary my-2" asp-action="AddItemToBox" asp-route-boxId="@ViewBag.boxId">Добавить предмет</a>
    </div>



    <table class="table-3">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ItemId)</th>
                <th>@Html.DisplayNameFor(model => model.Item.Brand)</th>
                <th>@Html.DisplayNameFor(model => model.Item.Country)</th>
                <th>@Html.DisplayNameFor(model => model.Item.CategoryItemName)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-label="@Html.DisplayNameFor(model => model.ItemId)">@Html.DisplayFor(modelItem => item.ItemId)</td>
                    <td data-label="@Html.DisplayNameFor(model => model.Item.Brand)">@Html.DisplayFor(modelItem => item.Item.Brand)</td>
                    <td data-label="@Html.DisplayNameFor(model => model.Item.Country)">@Html.DisplayFor(modelItem => item.Item.Country)</td>
                    <td data-label="@Html.DisplayNameFor(model => model.Item.CategoryItemName)">@Html.DisplayFor(modelItem => item.Item.CategoryItemName)</td>

                    <td>
                        <div class="d-flex align-items-center flex-wrap">
                            <a id="@item.ItemId" class="btn btn-info  m-1 item__details">Детали</a>
                            <a class="btn btn-danger  m-1" asp-action="Delete" asp-route-itemId="@item.Item.Id" asp-route-boxId="@item.BoxId">Удалить</a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>


</div>
@section Scripts {
    <script>

        $(document).on('click', '.item__details', function () {
            const itemId = $(this).attr("id");
            $('.item__details').prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            $.ajax({
                type: 'GET',
                url: "/Item/Details",
                data: {
                    id: itemId
                },
                success: function (data) {
                    $('.item__details').prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                    new bootstrap.Modal(document.getElementById('ItemDetailsModal')).show();
                    $('#ItemDetailsModal .modal-content').html(data);
                },
                error: function (ex) {
                    console.log('Failed to retrieve data. Exception: ' + ex);
                }
            });
        });


    </script>
}