﻿.main__box {
    padding: 25px 20px;
    min-height: 800px;
}

.container__box {
    max-width: 1100px;
    margin: 20px auto;
}

.content__about__box{
    width: 100%;
    display: flex;
}

.block__img__box {
    flex-shrink: 0;
}

.container__img__box {
    max-width: 500px;
    max-height: 500px;
}

.container__img__box img{
    margin-top: -1px;
    border: 1px solid var(--hover-color);
}

.block__info__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}

.title__info__box h1{
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #725b5b;
    letter-spacing: 0.05em
}

.description__info__box {
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5f4d4d;
}

.container__list__items__box {
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    margin-bottom: 10px;
}

.list__title__items .title__item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5f4d4d;
    padding: 2px 0;
    font-size: 0.9em;
}

.list__title__items .title__item::before {
    content: '\2022';
    padding-right: 5px;
}

.price__info__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.price__info__box span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #5f4d4d;
    letter-spacing: 0.07em;
    font-size: 1.7em;
    margin-right: 10px;
}

.btn__add__to__cart {
    font-size: 16px;
    border: 1px solid var(--hover-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 10px 25px;
    background: rgba(96, 81, 81, 0.5);
    color: #fff;
}

.btn__add__to__cart:hover{
    color: var(--hover-color);
}

.show__container__box__items {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.show__container__box__items::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    height: 2px;
    background: lightgray;
}


.btn__show__container__box__items {
    position: relative;
    background-color: #F7F5F4;
    padding: 0 20px;
    font-size: 1.55em;
    color: #5f4d4d;
}

.btn__show__container__box__items::after {
    font-family: "Material Icons";
    content: '\e313';
    float: right;
    transform: rotateZ( 180deg);
    transition: all .3s;
    font-size: 1.1em;
    margin-left: 10px;
    color: #5f4d4d;
}

.btn__show__container__box__items.active::after {
    transform: rotateZ( 0deg);
}


.content__box {
    display: flex;
    flex-wrap: wrap;
    padding: 20px !important;
}

.content__box a:hover {
    color: var(--hover-color);
    text-decoration: none;
}

.item__box {
    position: relative;
    margin: 0 15px 25px;
    padding: 10px;
    height: auto !important;
    background: rgb(196 178 171 / 30%);
    border-radius: 3px;
}

.item__box:hover{
    box-shadow: 0 4px 20px rgb(0 0 0 / 35%);
}

.item__box a{
    cursor: pointer;
}

.block__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 5px;
}

.block__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


.block__img::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    z-index: 1;
    content: '';
}


.block__img:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.block__img div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(96, 81, 81, 0.44);
    font-weight: 600;
    color: #fff;
}

.block__img div span{
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.block__img:hover div{
    transform: translateY(94%);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.block__brand__country {
    text-align: center;
}

.block__brand__country p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
   color: #5f4d4d;
}


@media(min-width: 1271px){
    .item__box {
        margin-left: 10px;
        margin-right: 10px;
        width: calc((100% - 120px)/6);
    }
}

@media(max-width: 1271px) {
    .container__img__box {
        max-width: 400px;
        max-height: 400px;
    }
    .item__box {
        margin-left: 10px;
        margin-right: 10px;
        width: calc((100% - 100px)/5);
    }
}

@media screen and (max-width: 881px) {
    .content__about__box {
        flex-direction: column;
        align-items: center;
    }
    .block__info__box{
        margin: 0;
    }
    .title__info__box h1 {
        font-size: 1.85em;
    }
    .show__container__box__items::before{
        left: 0;
        right: 0;
    }
    .content__box{
        padding: 0 !important; 
    }
    .item__box {
        margin-left: 10px;
        margin-right: 10px;
        width: calc((100% - 80px)/4);
    }
}

@media (max-width: 671px) {
    .item__box {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 30px)/3);
    }
}

@media (max-width: 471px) {
    .main__box {
        padding: 15px;
    }
    .title__info__box h1 {
        font-size: 1.5em;
    }
    .price__info__box span {
        font-size: 1.4em;
    }
    .btn__add__to__cart {
        font-size: 15px;
        padding: 10px;
    }
    .btn__show__container__box__items {
        font-size: 1.3em;
    }
    .item__box {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 20px)/2);
    }
}

@media (max-width: 341px) {
    .price__info__box{
        flex-direction: column;
    }
    .btn__show__container__box__items {
        font-size: 1.15em;
    }
    .item__box {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 10px)/1);
    }
}



