﻿.main-container-listBox{
    background-color: #F7F5F4;
    padding:20px 0 50px 0;
}

.main-container-listBox h1{
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #725b5b;
    letter-spacing: 0.05em;
}

.container-listBox {
    width: 85%;
    margin: 0 auto;
    
}

.content-listBox {
    display: flex;
    flex-wrap: wrap;
}

.box-li {
    width: 33.333%;
    padding: 20px;
}

.box-li:hover{
    box-shadow: 0 4px 20px rgb(0 0 0 / 35%);
}

.card-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.card-box a:hover {
    text-decoration: none;
    color: black;
}

.card-box .img{
    max-height: 380px;
    position: relative;
    overflow: hidden;
}

.card-box .img::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    z-index: 1;
    content: '';
}

.card-box .img:hover::after{
    background: rgba(255, 255, 255, 0.3);
}

.card-box .img img{
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.card-box .img:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.card-box .img .titleBox {
    height: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(96, 81, 81, 0.5);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    -webkit-transition:  .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.card-box .img:hover .titleBox {
    transform: translateY(94%);
    -webkit-transition:  .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.card-box .img .titleBox h5{
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0; 
}

.card-box-desc {
    padding-bottom: 15px;
}

.card-box-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.card-box-bottom span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #5f4d4d;
    letter-spacing: 0.07em;
    font-size: 1.15em;
}

.card-box-bottom input{
    font-size: 14px;
    border: 1px solid var(--hover-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 10px 25px;
    background: rgba(96, 81, 81, 0.5);
    margin: auto;
    color: #fff;
}

.card-box-bottom input:hover {
    color: var(--hover-color);    
}

@media(max-width:1200px){
    .container-listBox{
        width: 92%;
    }
    .box-li{
        padding: 15px;
    }
}

@media(max-width:900px) {
    .card-box-bottom {
        flex-direction: column;
    }
    .card-box-bottom input {
        margin-top: 7px;
    }
}

@media(max-width:840px) {
    .box-li{
        width: 50%;
    }
}

@media(max-width:580px) {
    .box-li {
        width: 100%;
    }
}