﻿

.container-ConstructorBox{
    width: 100%;
    padding: 20px;
}

.container-ConstructorBox h1 {
    text-align: center;
    margin: 20px 0 50px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #725b5b;
    letter-spacing: 0.05em;
    font-size: 1.55em;
}


.containerItems {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgb(140, 140, 140, 0.5);
    border-bottom: 1px solid rgb(140, 140, 140, 0.5);
    /*border-radius: 5px;*/
    padding: 5px !important;
    min-height: 120px;
}

.bottom-containerItems {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.card-itemFromBox {
    text-align: center;
    position: relative;
    margin: 5px;
    height: auto !important;
    border: 1px solid sienna;
    height: auto !important;
    background: rgb(196 178 171 / 30%);
    border-radius: 3px;
}

.card-itemFromBox > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.btnRemoveItemFromBox::before {
    position: absolute;
    top: -10px;
    right: -6px;
    font-size: 22px;
    font-family: "Material Icons";
    content: '\e5c9';
    z-index: 5;
    color: #828282;
}

.btnRemoveItemFromBox:hover::before {
    font-size: 24px;
    top: -11px;
    right: -7px;
    color: gray;
}

.img-itemFromBox {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    flex-shrink: 0;
}

.img-itemFromBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title-itemFromBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(96, 81, 81, 0.44);
    font-weight: 600;
    color: #fff;
    padding-top: 3px;
    padding: 2px;
}

.title-itemFromBox h5{
    font-size: 10px;
    color: #fff;
}

.desc-itemFromBox{
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
}

.desc-itemFromBox p{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.desc-itemFromBox span {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}




.containerItemAddToBox {
    display: flex;
    flex-direction: column;
}

.select-catagory-items {
    border-radius: 3px;
    width: 400px;
    margin: 0 auto 20px auto;
}


.items-for-add-in-box {
    display: flex;
    flex-wrap: wrap;
}

.card-item-addToBox > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.card-item-addToBox {
    text-align: center;
    position: relative;
    margin: 0 15px 25px;
    padding: 10px;
    height: auto !important;
    background: rgb(196 178 171 / 30%);
    border-radius: 3px;
}

.img-item-addToBox {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 5px;
}


.img-item-addToBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


.img-item-addToBox:hover img{
   -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.title-item-addToBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(96, 81, 81, 0.44);
    font-weight: 600;
    color: #fff;
}

.img-item-addToBox:hover .title-item-addToBox {
    transform: translateY(90%);
    -webkit-transition: .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.title-item-addToBox h5 {
    font-weight: 600;
    font-size: 11px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.desc-item-addToBox {
    text-align: center;
    padding-bottom: 7px;
}

.desc-item-addToBox p{
    font-weight: 300;
}

.desc-item-addToBox span{
    font-weight: 500;
}

.containerFullPrice h5 {
    margin: 0;
    font-weight: 500;
    color: #5f4d4d;
    letter-spacing: 0.04em;
    font-size: 1.5em;
}

.btn-box-ClearBox, .btn-box-addToCart{
    font-size: 14px;
    padding: 10px 25px;
}

.btn-AddItemToBox{
    font-size: 12px;
    padding: 7px 15px;
}



.container-ConstructorBox input {
    border: 1px solid var(--hover-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
    background: rgba(96, 81, 81, 0.5);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.container-ConstructorBox input:hover {
    color: var(--hover-color);
}

@media screen and (min-width: 1401px) {
    .containerItems .card-itemFromBox {
        width: calc((100% - 120px)/12) !important;
    }
}


@media screen and (min-width: 1271px) {
    .containerItems .card-itemFromBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 110px)/11);
    }
    .containerItemAddToBox .card-item-addToBox {
        margin-left: 10px;
        margin-right: 10px;
        width: calc((100% - 140px)/7);
    }

}

@media screen and (max-width: 1271px) {
    .containerItems .card-itemFromBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 100px)/10);
    }
    .containerItemAddToBox .card-item-addToBox {
        margin-left: 10px;
        margin-right: 10px;
        width: calc((100% - 120px)/6);
    }
}


@media screen and (max-width: 1051px) {
    .container-ConstructorBox h1{
        font-size: 23px;
    }
    .containerItems .card-itemFromBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 90px)/9);
    }
    .containerItemAddToBox .card-item-addToBox {
        margin-left: 10px;
        margin-right: 10px;
        width: calc((100% - 100px)/5);
    }
}


@media screen and (max-width: 951px) {
    .containerItems .card-itemFromBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 80px)/8);
    }

}

@media screen and (max-width: 851px) {
    .container-ConstructorBox h1 {
        font-size: 20px;
    }
    .containerItems .card-itemFromBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 70px)/7);
    }
    .containerItemAddToBox .card-item-addToBox {
        margin-left: 10px;
        margin-right: 10px;
        width: calc((100% - 80px)/4);
    }
}

@media (max-width: 771px) {
    .containerItems .card-itemFromBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 60px)/6);
    }
    .bottom-containerItems {
        flex-direction: column;
        align-items: center;
    }
    .containerFullPrice{
        margin-bottom: 10px;
    }
    .btn-box-ClearBox, .btn-box-addToCart{
        width: 180px;
        padding: 8px 0;      
    }
}

@media (max-width: 671px) {
    .containerItems .card-itemFromBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 50px)/5);
    }
    .containerItemAddToBox .card-item-addToBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 30px)/3);
    }
}

@media (max-width: 571px) {
    .container-ConstructorBox h1 {
        font-size: 16px;
    }
    .containerItems .card-itemFromBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 40px)/4);
    }
    .containerItemAddToBox .card-item-addToBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 20px)/2);
    }
    .btn-box-ClearBox, .btn-box-addToCart {
        width: 150px;
        font-size: 12px;
        letter-spacing: 0.5px !important;
    }
}

@media (max-width: 471px) {
    .container-ConstructorBox{
        padding: 20px 10px;
    }
    .containerItems .card-itemFromBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 30px)/3);
    }
    .containerItemAddToBox .card-item-addToBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 20px)/2);
    }
    .select-catagory-items{
        width: 80%;
    }
    .btn-box-ClearBox, .btn-box-addToCart {
        font-size: 11px;
    }
}

@media (max-width: 341px) {
    .containerItems .card-itemFromBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 20px)/2);
    }
    .containerItemAddToBox .card-item-addToBox {
        margin-left: 5px;
        margin-right: 5px;
        width: calc((100% - 10px)/1);
    }
    .containerFullPrice h5{
        font-size: 20px;
    }
    .block-btn-containerItems {
        text-align: center;
    }
    .btn-box-ClearBox{
        margin-bottom: 10px;
    }

}