﻿.main-customer {
    padding: 0 20px 20px;
}

.main-customer *{
    font-family: 'Montserrat', sans-serif;
}

.main-customer h1{
    font-size: 22px;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #d6d6d6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #725b5b;
    letter-spacing: 0.05em;
}

.container-customer {
    min-height: 600px;
    display: flex;
}

.content-customer {
    width: calc(100% - 250px);
}

.top-content-customer{
    margin-bottom: 5px;
}

.page-imiter{

}

.block-success-message {
    font-size: 14px;
    display: table-cell;
    padding: 5px;
    border-radius: 5px;
    background: #a4eba4;
}

.bottom-content-customer {
    margin-top: 10px;
    text-align: center;
}

.bottom-content-customer span{
    text-transform: uppercase;
    color: #5f4d4d;
}

.bottom-content-customer span a{
   cursor: pointer;
   font-weight: 600;
   color: #725b5b !important;
}

.container-customer > ul {
    width: 250px;
}

.container-customer > ul li {
    margin-bottom: 17px;
}
    
.container-customer ul li a.active {
    font-weight: 700;
    color: var(--hover-color) !important;
}

.container-customer ul li a{ 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #725b5b;
    text-transform: uppercase;   
}

.top-table-customer {
    border-top: 1px solid;
    border-bottom: 1px solid lightgray;
    height: auto;
    line-height: 20px;
    padding: 10px 0;
    overflow: hidden;
}

.top-table-customer > div{
    float: left;
    width: calc(100% / 6);
    color: #725b5b;
    font-weight: 600;
}

.container-table-customer {
    display: flex;
    flex-direction: column;
}

.content-table-customer {
    /*padding: 10px 0;*/
    border-bottom: 1px solid #d6d6d6;
}

.header-content-table > div {
    color: #5f4d4d;
}

.content-table-customer .top-content-table {
    padding: 8px 0;
    width: calc(100% / 6);
    float: left;
}

.mobile-header-content-table{
    display: none;
}
/*.moreDetails{
    width: 10% !important;
}*/
.moreDetails::after {
    cursor: pointer;
    display: inline-block;
    font-family: "Material Icons";
    content: '\e313';
    transform: rotateZ( 0deg);
    transition: all .3s;
}

.moreDetails.active::after {
    font-family: "Material Icons";
    content: '\e313';
    transform: rotateZ( 180deg);
    transition: all .3s;
    color: var(--hover-color);
}


.moreDetails::before :hover {
    color: var(--hover-color);
}

.wrapper-customer-order {
    display: none;
}

.container-customer-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}


.item-container-customer-order {
    display: flex;
    flex-direction:column;
    padding: 5px 0;
    border-bottom: 1px solid #d6d6d6;
}

.item-content {
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    gap: 1px 1px;
    align-items: center;
}

.item-img {
    width: 105px;
    min-width: 85px;
    float: left;
    padding-right: 15px;
}

.item-title {
    text-align: center;
}

.item-price-quantity, .item-sum-price {
    padding-right: 10px;
}


.item-list-item-in-customBox ul{
    margin: 7px 0 0 0;
}

.item-list-item-in-customBox ul li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5f4d4d;
    padding: 2px 0;
    font-size: 0.8em;
}

.item-list-item-in-customBox ul li::before{
    content: '\2022';
    padding-right: 5px;
}

.info-method-delivery {
    padding: 3px 0;
}

.info-adressDelivery{
    max-width: 40%;
    font-size: 13px;
    line-height: 1.3;
    margin-top: 2px;
}

.info-adressDelivery span {
    display: block;
    padding-bottom: 2px;
}

.info-adressDelivery span:first-child {
    text-transform: uppercase;
}


.required-info{
    font-size: 14px;
    padding: 20px 0;
}

.form-customer-data{
    margin: 10px 0;
}

.header-content-customer{
    margin-bottom: 20px;
}

.container-customer h5 {
    margin: 0;
}

.form-customer-password {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding-top: 10px;
    margin: 10px 0;
}

.container-customer .sms-valid-summary{
    text-align: initial;
    min-height: 0;
}

.container-customer .sms-valid-summary ul{
    margin: 0;
}

.container-customer .sms-valid-summary ul li{
    margin:0;
}

.content-customer .block-input-fields {
    margin: 20px 30px 20px 0;
}


.content-customer .input-fields {
    display: block;
    position: relative;
    margin-bottom: 0;
}


.content-customer .input-fields input:focus + span,
.content-customer .input-fields input:not(:placeholder-shown) + span {
    transform: translateY(-30px);
    font-size: 14px;
    color: black;
}


.content-customer .placeholder {
    display: block;
    font-size: 16px;
    color: #b3b3b3;
    position: absolute;
    top: 10px;
    left: 7px;
    transition: transform .3s ease,color .25s ease;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.2;
    z-index: 100;
    text-align: left;
}


.content-customer input[type=text], .content-customer input[type=password], .content-customer input[type=email] {
    font-size: 16px;
    padding: 7px 10px 7px 7px;
    outline: none;
    border: 1px solid #d6d6d6;
    min-width: 250px;
    max-width: 250px;
    border-radius: 3px;
}

.content-customer .sms-valid {
    height: 18px;
    font-size: 13px;
    color: rgb(221, 71, 71);
}

.content-customer .blocksTogether {
    display: flex;
}

.star-required{
    color: red;
}


.form-customer-password{
    display: flex;
    flex-direction: column;
}

#btn-submit-change-customer-data, #btn-submit-add-new-userAddress {
    width: 300px;
    height: 50px;
    font-size: 18px;
    background-color: rgba(96, 81, 81, 0.5);
    color: #fff;
    border: 1px solid var(--hover-color);
    margin-top: 20px;
}

#btn-submit-change-customer-data:hover, #btn-submit-add-new-userAddress:hover {
    color: var(--hover-color);
}


.container-userAddress {
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 20px;
}

.column-userAdress {
    height: 280px;
    border-bottom: 1px solid;
    width: calc((100% - 120px) /3);
    margin: 20px;
}

.wrapper-column-userAdress{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.field-userAddress {
    padding: 0 0 3px 50%;
    position: relative;
    color: #5f4d4d;
}


.field-userAddress.FullName::before {
    content: 'Получатель:';
}

.field-userAddress.City::before{
    content: 'Город:';
}

.field-userAddress.Street::before{
    content: 'Улица:';
}

.field-userAddress.Home::before{
    content: 'Дом:';
}

.field-userAddress.Apartment::before{
    content: 'Квартира:';
}

.field-userAddress.PhoneNumber::before{
    content: 'Телефон:';
}

.field-userAddress.AdditionalInformation::before{
    content: 'Доп. информация:';   
}

.field-userAddress::before{
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 2px;
    text-align: right;
    width: 45%;
    font-weight: 500;
}

.form-btn-delete-change-userAddress {
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
}

#btn-change-userAdress, #btn-delete-userAdress {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    color: #725b5b;
}

#btn-delete-userAdress::before {
    font-family: "Material Icons";
    content: "\e872";
    font-size: 20px;
}

#btn-change-userAdress::before{
    font-family: "Material Icons";
    content: "\e3c9";
    font-size: 20px;
}

#btn-change-userAdress:hover, #btn-delete-userAdress:hover {
    color: var(--hover-color);
}

#btn-change-userAdress:focus{
    outline: none;
}

@media(max-width: 1270px){
    .column-userAdress {
        width: calc((100% - 120px) /2);
    }
}

@media(max-width: 670px) {
    .column-userAdress {
        width: 100%;
    }
}

@media(max-width: 370px) {
    .field-userAddress{
        font-size: 14px;
    }
    .field-userAddress::before {
        font-size: 12px;
    }
}

@media(max-width: 900px) {
    .container-customer{
        flex-direction: column;
    }
    .container-customer > ul {
        width: 100%;
        margin-bottom: 20px;
    }
    .container-customer > ul li {
        margin-bottom: 10px;
    }
    .container-customer > ul li a{
        font-size: 14px;
        display: block;
        padding: 10px;
        border: 1px solid #e0e0e0;
    }
    .content-customer{
        width: 100%;
    }
    .table-customer{
        width: 100%;
    }
    .top-content-table{
        font-size: 13px;
    }
    .top-table-customer {
        font-size: 13px;
    }
    .top-content-table.id, .top-table.id {
        width: 10%;
    }
    .top-content-table.orderDate, .top-table.orderDate {
        width: 15%;
        text-align: center;
    }
    .top-content-table.FullName, .top-table.customer {
        width: 30%;
        text-align: center;
    }
    .top-content-table.Total, .top-table.price {
        width: 15%;
        text-align: center;
    }
    .top-content-table.Status, .top-table.status {
        width: 20%;
        text-align: center;
    }
    .top-content-table.moreDetails, .top-table.details {
        width: 10%;
        text-align: center;
    }


}

@media(max-width: 620px){
    .blocksTogether{
        flex-direction: column;
    }
    .container-customer .block-input-fields{
        margin: 20px 0;
    }
    .content-customer input[type=text], input[type=password], input[type=email]{
        width: 100%;
        max-width: none;
    }
    #btn-submit-change-customer-data, #btn-submit-add-new-userAddress{
        width: 100%;
    }
}

@media(max-width: 520px){
    .top-table-customer {
        display: none;
    }
    .header-content-table{
        display: none;
    }
    .content-table-customer {
        border-top: 1px solid;
        border-bottom: 1px solid;
    }   
    .mobile-header-content-table{
        display: flex;
        flex-direction: column;
        
    }
    .top-content-table {
        font-size: 14px;
    }

    .top-table-customer {
        font-size: 14px;
    }
    .mobile-header-content-table div{
        width: auto !important;
        float: none !important;
        margin-right: 15px;
        padding: 3px 0 3px 50% !important;
        text-align: initial !important;
        position: relative;
    }
    .mobile-header-content-table .top-content-table.id::before{
        content: 'Номер:';
        position: absolute;
        left: 0;
        text-align: right;
        width: 40%;
    }
    .mobile-header-content-table .top-content-table.orderDate::before {
        content: 'Дата:';
        position: absolute;
        left: 0;
        text-align: right;
        width: 40%;           
    }
    .mobile-header-content-table .top-content-table.FullName::before {
        content: 'Получатель:';
        position: absolute;
        left: 0;
        text-align: right;
        width: 40%;
    }
    .mobile-header-content-table .top-content-table.Total::before {
        content: 'Сумма:';
        position: absolute;
        left: 0;
        text-align: right;
        width: 40%;
    }
    .mobile-header-content-table .top-content-table.Status::before {
        content: 'Статус:';
        position: absolute;
        left: 0;
        text-align: right;
        width: 40%;
    }
    .mobile-header-content-table .top-content-table.moreDetails::before {
        content: 'Детали:';
        position: absolute;
        left: 0;
        text-align: right;
        width: 40%;
    }
    .container-customer-order{
        border: none !important;
    }
    .item-container-customer-order {
        
    }
    .item-container-customer-order > div{
        width: auto;
    }
    .item-container-customer-order .item-img{
        padding: 10px;
    }
    .item-container-customer-order .item-price-quantity{
        padding-right: 0;
    }
    .info-adressDelivery{
        max-width: 100%;
    }

}




