﻿footer {
    min-height: 250px;
    background-color: rgba(96, 81, 81, 1);
    padding-bottom: 20px;
}

footer input[type=checkbox] {
    display: none;
}


.container__footer {
    margin: 0 auto;
}

.top__footer {
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px !important;
}

.container__new__subscribe {
    width: 100%;
    border-bottom: 1px solid #9b9b9b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
}

.title__new__subscribe, .block__form__new__subscribe {
    width: 50%;
    flex: 50%;
}

.title__new__subscribe {
    display: flex;
    align-items: center;
}

.title__new__subscribe > svg {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.title__new__subscribe > svg path {
    color: #fff;
}

.title__new__subscribe > div {
    font-size: 1.1em;
    color: #fff;
}

.block__form__new__subscribe {
    display: flex;
    justify-content: flex-end;
}

.new__subscribe__form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new__subscribe__form input[type=email] {
    width: 300px;
    height: 40px;
    display: block;
    color: black;
    background: #fff;
    align-items: center;
    font-size: 1.1em;
    padding: 0 20px;
    margin-right: 20px;
}

.new__subscribe__form button {
    height: 100%;
    margin-top: 7px;
    text-transform: uppercase;
    background-color: rgb(72 54 54);
    color: #fff;
    border: 1px solid #9b9b9b;
    margin: 0;
    font-weight: 600;
}

.new__subscribe__form button:focus {
    outline: none;
}



.middle__footer {
    padding: 0 25px;
}

.list__info__footer {
    display: flex;
    justify-content: center;
    padding: 0;
}



.section__info__footer, .info__company {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.section__info__footer > label {
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid red;
}

.section__info__footer {
    flex: 15%;
    max-width: 15%;
    margin-right: 8%;
}

.info__company {
    flex: 20%;
    max-width: 220px;
    position: relative;
}

.list__info {
    display: flex;
    flex-direction: column;
}

.list__info > a {
    padding: 5px 0;
    color: #c9c9c9;
}

.list__info > a:hover {
    text-decoration: underline;
}

.container__socialNetwork {
    position: relative;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.container__socialNetwork::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #9b9b9b;
    margin-top: -1px;
}

.list__socialNetwork {
    display: inline-flex;
    align-items: center;
    position: relative;
    background-color: rgb(96 81 81);
    padding: 0 20px !important;
}

.bottom__footer {
    padding: 0 20px;
}

.bottom__footer p {
    color: #fff;
}

.footer__logo {
    font-family: 'Parisienne', cursive;
    font-size: 3.3em;
    color: #fff;
    text-decoration: none;
}

.footer__logo:hover {
    color: #fff;
    text-decoration: none;
}

.desc__company {
    color: #fff;
    margin-bottom: 15px;
}




.list__socialNetwork .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .5s;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
}

.list__socialNetwork .link span {
    text-align: center;
    vertical-align: inherit;
    transform: translateY(0.5px);
    color: whitesmoke;
}

.list__socialNetwork a:hover {
    transition: 0.4s;
    transform: translateY(0.5px) rotate(360deg);
}

.list__socialNetwork .link.vk {
    background-color: rgb(52, 117, 221);
}

.list__socialNetwork .link.whatsapp {
    background-color: rgb(10, 170, 23);
}

.list__socialNetwork .link.telegram {
    background-color: rgb(5, 149, 221);
}

.list__socialNetwork .link.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
}




@media(max-width: 768px) {
    .container__new__subscribe {
        flex-direction: column;
    }

    .title__new__subscribe, .block__form__new__subscribe {
        width: auto;
        flex: auto;
    }

    .title__new__subscribe {
        margin-bottom: 20px;
    }

    .list__info__footer {
        flex-direction: column;
    }

    .middle__footer {
        padding: 0 15px;
    }

    .section__info__footer {
        max-width: 100%;
        flex: 100%;
        margin: 0 0 20px 0;
    }

    .section__info__footer label::after {
        font-family: "Material Icons";
        content: '\e313';
        float: right;
        transform: rotateZ( 0deg);
        transition: all .3s;
        color: #fff;
        font-size: 1.1em;
    }

    .section__info__footer > label {
        padding: 0 5px 10px 5px;
        margin: 0;
    }

    .section__info__footer > input:checked + label::after {
        transform: rotateZ(180deg);
    }

    .section__info__footer > input:checked + label::after {
        transform: rotateZ(180deg);
    }

    .section__info__footer > input:checked ~ .list__info {
        visibility: visible;
        opacity: 1;
        max-height: 300px;
        transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
    }

    .list__info {
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        transition: max-height 0.2s ease-out, opacity 0.15s ease-out;
        padding: 0 5px;
    }

    .info__company {
        flex: 100%;
        max-width: 100%;
        align-content: center;
    }

    .info__company > a, .info__company > div {
        text-align: center;
    }
}

@media(max-width: 480px) {
    .title__new__subscribe > div {
        font-size: 0.95em;
    }

    .block__form__new__subscribe {
        width: 90%;
    }

    .new__subscribe__form {
        flex-direction: column;
    }

    .new__subscribe__form input[type=email] {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .new__subscribe__form button {
        width: 100%;
        height: 40px;
    }

    .middle__footer {
        padding: 0;
    }
}
