
.styleCheckbox {
	display: none;
}

.styleCheckbox + .labelStyleCheckbox:before {
	font-family: initial;
	content: "\2714";
	color: transparent;
	display: inline-block;
	border: 1px solid #ccc;
	font-size: 20px;
	font-weight: 900;
	line-height: 22px;
	margin: -5px 5px 0 0;
	height: 20px;
	width: 20px;
	text-align: center;
	vertical-align: middle;
	transition: color ease .2s;
}

.styleCheckbox:checked + .labelStyleCheckbox:before {
	color: #ca9c12;
	border-color: #000;
}

.container-login-register {
	max-width: 600px;
}

.container-login-register a {
	color: #3c3c3c !important;
	text-decoration: underline !important;
}

.container-login-register a:hover {
	color: var(--hover-color) !important;
}

.container-login-register-top {
	height: 50px;
	font-size: 28px;
	padding: 0;
	margin-bottom: 20px;
}
.container-login-register-top .popup-header{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #725b5b;
    font-size: 1.2em;
}

.container-login-register-top .btn-close{
	position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.7em;
}

.container-login-register-top .btn-close:focus{
	outline: none;
	box-shadow: none;
}

.container-login-register-top .btn-close:hover{
	font-size: 0.8em;
    top: 8px;
    right: 8px;
    color: var(--hover-color);
}

.container-login-register-top .close:focus {
	outline: none;
}

.sms-valid-summary{
	min-height: 50px;
	text-align: center;

}

.sms-valid-summary ul {
	padding: 0;
}

.sms-valid-summary ul li{
	color: rgb(221, 71, 71);
}

.form-block .block-input-fields .sms-valid {
	color: rgb(221, 71, 71);
}

.form-block .block-input-fields .sms-valid span{
	color: rgb(221, 71, 71);
}

.form-block .block-input-fields {
	margin-bottom: 35px
}


.form-block .input-fields {
	display: block;
	position: relative;
	margin-bottom: 0;
}

.form-block .input-fields input:focus ~ .placeholder,
 .form-block .input-fields input:not(:focus):valid + .placeholder {
	transform: translateY(-10px);
	font-size: 12px;
}

.form-block .input-fields .placeholder {
	display: block;
	font-size: 16px;
	color: #b3b3b3;
	position: absolute;
	top: 15px;
	left: 15px;
	transition: transform .3s ease,color .25s ease;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 1.2;
	z-index: 2;
	text-align: left;
}

.btn-show-hide-password{
	content: url(icon/open_eye.c2b7c73.svg);
    position: absolute;
    left: auto;
    right: 19px;
    top: 19px;
    width: 20px;
    color: #5c5c5c;
    z-index: 2;
    cursor: pointer;
	transform: translateY(5px);
}

.show-password{
	content: url(icon/close_eye.806fc9e.svg);
}


.form-block input[type=text], input[type=password], input[type=email] {
	width: 100%;
	font-size: 20px;
	padding: 18px 15px 10px 15px;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--border-color);
	background-color: #f4f4f4;
}

.form-block .block-options {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 10px;
}

.form-block .block-options .options-remember {
	display: flex;
	align-items: center;
}


.form-block .auth-btn {
	width: 100%;
	height: 50px;
	font-size: 18px;
	background-color: rgba(96, 81, 81, 0.5);
	color: #fff;
	border: 1px solid var(--hover-color);
}

.form-block .auth-btn:hover{
	color: var(--hover-color);
}

.container-login-register-bottom {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup-fade.mobile-popup::before{
	all: initial;
}


.popup-fade.mobile-popup .popup{
	position: fixed;
	height: 100% ; 
	width: 100% ;
	margin-left: 0;
	top: 52px;
	left: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}


@media(max-width: 445px){
	.block-options{
		flex-direction: column;
		margin-top: 0;
	}
	.options-remember{
		margin-bottom: 10px;
	}
}