header {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	width: 100%;
	background-color: #F5F3F1;
}

header a {
	color: #725b5b;
	text-decoration: none;
	z-index: 1;
}

header a * {
	color: #806b6b;
}

/*#806b6b*/

header a:hover {
	transition: 0.25s;
	color: var(--hover-color) !important;
	text-decoration: none;
	cursor: pointer;
}

header a:hover * {
	transition: 0.25s;
	color: var(--hover-color);
	text-decoration: none;
}

header li {
	list-style-type: none;
	z-index: 2;
}

header input {
	display: none;
}

.header__top p {
	margin: 0;
	font-weight: 400;
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 20px 25px 10px 25px;
}

.block__contacts a {
	display: flex;
	align-items: center;
}

.phone__number {
	margin-bottom: 7px;
}

.burger__menu {
	display: none;
}

.block__account {
	display: flex;
	align-items: flex-end;
}

.shoppingCart svg {
	width: 1.5em;
	height: 1.5em;
	color: #6e6161;
}

.shoppingCart:hover span {
	color: #fff;
	background-color: #725b5bb0;
}

.account {
	position: relative;
}

.account a svg {
	width: 1.85em;
	height: 1.85em;
	color: #6e6161;
}

.account__manager svg, .account__admin svg {
	width: 1.5em;
	height: 1.5em;
	color: #6e6161;
}

.account__admin .separator{

}

.shoppingCart, .account, .account__manager, .account__admin {
	position: relative;
	margin-left: 20px;
}

.shoppingCart, .account a, .account a, .account__manager a, .account__admin a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
 
.account a:focus, .account__manager a:focus,
.account__admin a:focus {
	background-color: #d1d1d1;
}

.shoppingCart > p, .account a > p, .account__manager a > p, .account__admin a > p {
	font-size: 0.75em;
	padding-top: 3px;
	margin: 0;
}

.account__manager:hover > .account__manager__dropdown,
.account__admin:hover > .account__admin__dropdown,
.account:hover > .account__dropdown {
	visibility: visible;
	opacity: 1;
}

.account__admin__dropdown, .account__manager__dropdown, .account__dropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	border: 1px solid #c1aaaaaa;
	z-index: 101;
	border-radius: 3px;
	transition: 0.15s;
	overflow: hidden
}

.account__admin__dropdown, .account__manager__dropdown {
	height: auto;
	min-height: 100px;
	width: 220px;
	top: 100%;
	right: -100%;
	background-color: var(--main-color);
}

.account__admin__dropdown .separator{
	position: relative;
	width: 100%;
    text-align: center;
}

.account__admin__dropdown .separator::before {
	content: '';
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	height: 1px;
    background: #9b9b9b;
}

.account__admin__dropdown .separator > span{
	position: relative;
    font-size: 0.9em;
    z-index: 1;
    background-color: #F5F3F1;
    padding: 0 10px;
}

.account__dropdown {
	width: 250px;
	height: 200px;
	top: 50px;
	right: -10%;
}

.account__dropdown span{
	color: var(--text-color);
}

.account__dropdown .login, 
.account__dropdown .register {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	flex: 1 1 50%;
}

.account__dropdown .login {
	width: 100%;
	background-color: #f6f6f6;
}

.account__dropdown .register {
	width: 100%;
	background-color: #efedeb; /*#f6f6f6*/
}

.account__dropdown .login a, .account__dropdown .register a, .account__dropdown .logout__account button{
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.6px;
	border-radius: 2px;
}

.account__dropdown .login a {
	background: rgba(96, 81, 81, 0.5);
	color: #fff;
	padding: 7px 30px;
	border: 1px solid var(--hover-color);
}

.account__dropdown .register a {
	background: #fff;
	color: rgb(114 91 91);
	padding: 7px;
	border: 1px solid var(--hover-color);
}

.account__dropdown .logout__account, .account__dropdown .castomer__info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.account__dropdown .logout__account{
	align-items: center;
}


.account__dropdown .logout__account {
	flex: 45%;
	background-color: #f6f6f6;
}

.account__dropdown .castomer__info{
	flex: 55%;
	background-color: #efedeb;
}

.account__dropdown .logout__account button{
	padding: 5px 15px;
	background: rgba(96, 81, 81, 0.5);
	color: #fff;
	border: 1px solid var(--hover-color);
}

.account__dropdown .logout__account button:hover{
	color: var(--hover-color);
}

.account__dropdown .castomer__info a{
	flex-direction: row;
	justify-content: normal;
	padding-left: 20%;
}

.account__dropdown .castomer__info a p{
	font-size: 1em;
	padding-left: 7px;
}

.account__dropdown .castomer__info a svg{
	font-size: 0.7em;
}

.counter__shoppingCart {
	position: absolute;
	top: -8px;
	right: 0px;
	height: 17px;
	width: 17px;
	border-radius: 50%;
	font-size: 0.7em;
	background-color: #5a5151;
	color: #ffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}

.block__logo {
	max-width: 250px;
	color: #725b5b;
	font-weight: 100 !important;
	font-family: 'Parisienne', cursive !important;
	font-size: 5em;
	position: absolute;
	top: 0px;
	transform: translateX(-50%);
	left: 50%;
}



@media (max-width: 770px) {
	.header__top {
		padding: 5px 10px;
		height: 60px;
		border-bottom: 1px solid #b2acac;
	}
	.block__logo {
		font-size: 2.5em;
		top: 5px;
		left: 35%;
	}
	.shoppingCart svg {
		width: 1.2em;
		height: 1.2em;
		color: #6e6161;
	}
	.account svg {
		width: 1.45em;
		height: 1.45em;
		color: #6e6161;
	}
	.shoppingCart > p, .account > p, .account__manager > p, .account__admin > p {
		padding-top: 2px;
		font-size: 0.75em;
	}
	.header__top > .block__contacts {
		display: none;
	}
	.block__contacts {
		display: none;
	}
	.burger__menu {
		display: block;
		position: relative;
		width: 25px;
		height: 15px;
	}
	.burger__menu::before, .burger__menu::after {
		content: '';
		background-color: #606060;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.burger__menu span {
		position: absolute;
		background-color: #606060;
		left: 0;
		top: 6px;
		width: 100%;
		height: 2px;
		transition: all 0.3s ease 0s;
	}
	.burger__menu::before {
		top: 0;
	}
	.burger__menu::after {
		bottom: 0;
	}
	.burger__menu.active::before {
		transform: rotate(45deg);
		top: 6px;
	}
	.burger__menu.active::after {
		transform: rotate(-45deg);
		bottom: 6px;
	}
	.burger__menu.active span {
		transform: scale(0);
	}
}



@media(max-width: 480px) {
	.block__logo {
		/*left: 25%;*/
	}
	.shoppingCart, .account, .account__manager, .account__admin {
		margin-left: 7px;
	}
}

@media(max-width: 375px) {
	.block__logo {
		font-size: 2.3em;
	}

	.shoppingCart, .account, .account__manager, .account__admin {
		margin-left: 7px;
	}
}




