﻿.main-home {
    width: 100%;
    background: linear-gradient( 90deg, rgba(244, 242, 239, 0.92) 39.71%, rgba(249, 248, 248, 0.92) 100%);
}

.section_home {
    height: 650px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.iiiimg {
    position: absolute;
    right: 70%;
    top: 0;
    height: 100%;
}

.iiiimg::before {
    position: absolute;
    top: 0;
    right: auto;
    left: -2px;
    width: 265px;
    height: 100%;
    background: linear-gradient( 90deg, #F5F3F1 0%, rgba(249, 248, 248, 0) 98.11%);
    transform: rotate( 0);
    content: '';
}

.iiiimg::after{
    position: absolute;
    top: 0;
    right: -2px;
    width: 265px;
    height: 100%;
    background: linear-gradient(90deg, #F5F3F1 0%, rgba(249, 248, 248, 0) 98.11%);
    transform: rotate(180deg);
    content: '';
}

.iiiimg img {
    max-width: initial;
    max-height: 100%;
}


.heding_container{
    width: 100%;
    max-width: 1070px;
    padding: 0 15px;
    margin: 0 auto;
}

.heading_content {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.heading_content p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8;
}

.heading_title {
    font-family: "Cormorant SC",serif;
    color: rgb(114 91 91);
    font-weight: 300;
    font-size: 60px;
    line-height: 1.1;
}

.heading_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.heading_button .heading-btn{
    display: inline-block;
    margin: 0 5px;
    padding: 18px 35px;
    background: rgba(205, 205, 205, 0.5);
    border-radius: 3px;
    border: none;
    color: rgb(114 91 91);
    font-weight: bold;
    font-size: 24px;
    font-family: "Cormorant SC",serif;
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.2s linear;
    text-decoration: none;
}

.heading_button .heading-btn:hover{
    color: var(--hover-color);
}



.section__popular {
    padding-top: 50px;
    padding-bottom: 5px;
}

.header__popular {
    position: relative;
    text-align: center;
    font-size: 0;
    line-height: 0;
    margin: 0 5%;
}

.header__popular::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 51%;
    left: 0;
    right: 0;
    height: 1px;
    background: #9b9b9b;
}

.header__popular h5 {
    background: linear-gradient( 90deg, rgba(244, 242, 239, 1) 17.71%, rgba(246, 244, 243, 0.98) 100%);
    display: inline-block;
    padding: 0 20px;
    margin: 0;
    position: relative;
    color: #725b5b;
    font-family: "Cormorant SC",serif;
    font-size: 2.2rem;
}

#carouselExampleIndicators {
    padding: 50px 0;
}

.carousel-control-next, .carousel-control-prev{
    width: 10%;
}
.carousel-caption h5 {
    color: rgb(255, 255, 255);
    font-size: 2.4em;
}

.container__carousel__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container__item {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.img__wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    display: flex;
    align-items: end;
    justify-content: center;
    bottom: 0;
    left: 0;
}

.img__wrapper::after {
    position: absolute;
    content: '';
    background-color: rgba(55,20,10, 0.044);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.img__wrapper h5{
    color: #fff;
    font-size: 1.45em;
    text-shadow: #725b5b 0 0 2px;
    margin-bottom: 15px;
}

.container__img:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.container__img:hover .img__wrapper::after {
    background-color: rgba(55,20,10, 0.22);
}


.container__img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}


.container__img img{
    max-height: 340px;
    transition: all .5s ease;
}

.container__img:hover .link__box{
    opacity: 1;
}

.link__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255,255,255,0.85);
    border-radius: 10px;
    padding: 18px 35px;
    transition: all .3s ease;
    opacity: 0;
    z-index: 2;
    color: #605151;
    font-weight: 600;
    font-family: Montserrat;
    text-decoration: none;
}

.link__box:hover {
    color: var(--hover-color);
}

.link__box:hover {
    cursor: pointer;
    background: rgba(255,255,255,1);
}

.container__item_info{
    text-align: center;
}

.container__item_info h6{
    color: #725b5b;
    font-size: 1.35em;
    margin: 0;
    font-weight: 400;
    padding: 5px 0;
}

.container__item_info span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    color: #5f4d4d;
}


.section__constructor {
    padding-top: 20px;
    padding-bottom: 50px;
}

.header__constructor {
    position: relative;
    text-align: center;
    font-size: 0;
    line-height: 0;
    margin: 0 5% 25px;
}

.header__constructor::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 51%;
    left: 0;
    right: 0;
    height: 1px;
    background: #9b9b9b;
}

.header__constructor h5 {
    background: linear-gradient( 90deg, rgba(244, 242, 239, 1) 17.71%, rgba(246, 244, 243, 0.98) 100%);
    display: inline-block;
    padding: 0 20px;
    margin: 0;
    position: relative;
    color: #725b5b;
    font-family: "Cormorant SC",serif;
    font-size: 2.2rem;
}


.container__section__constructor {
    height: 600px;
    position: relative;
    overflow: hidden;
}


.block__img__constructor {
    height: 100%;
    position: absolute;
    top: 0;
    left: 70%;
}

.block__img__constructor::after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 100px;
    height: 100%;
    background: linear-gradient( 90deg, #F5F3F1 0%, rgba(249, 248, 248, 0) 50.11%);
    transform: rotate( 180deg );
}

.block__img__constructor::before {
    content: '';
    position: absolute;
    top: 0;
    right: auto;
    left: -2px;
    width: 100px;
    height: 100%;
    background: linear-gradient( 90deg, #F5F3F1 0%, rgba(249, 248, 248, 0) 50.11%);
    transform: rotate( 0);
}



.block__img__constructor img{
    max-height: 100%;
    max-width: initial;
}

.block__info__constructor {
    padding: 30px 5%;
    max-width: 750px;
}

.block__info__constructor h5{
    font-size: 2.5em;
    line-height: 1.2;
    font-family: "Cormorant SC",serif;
    margin-bottom: 30px;
    color: #725b5b;
}

.block__info__constructor p{
    font-size: 16px;
    line-height: 2;
    max-width: 610px;
    font-family: 'Montserrat', sans-serif;
}

.link__constructorBox {
    display: inline-block;
    margin: 0 5px;
    padding: 18px 35px;
    background: rgba(205, 205, 205, 0.5);
    border-radius: 3px;
    border: none;
    color: rgb(114 91 91);
    font-weight: bold;
    font-size: 24px;
    font-family: "Cormorant SC",serif;
    text-align: center;
    margin-top: 55px;
    cursor: pointer;
    transition: all 0.2s linear;
    text-decoration: none;
}

.link__constructorBox:hover {
    color: var(--hover-color);
}


@media(max-width:992px){
    .block__info__constructor {
        max-width: 520px;
    }
    .block__info__constructor h5{

    }
}


@media(max-width: 770px) {
    .iiiimg {
        right: 75%;       
    }
    .block__info__constructor {
        max-width: 400px;
    }
    .block__info__constructor h5 {
        font-size: 1.95em;
    }
    .block__info__constructor p {
        font-size: 14px;
    }
    .block__img__constructor{
        left: 60%;
    }
}

@media(max-width: 650px) {
    .section_home{
        height: 500px;
    }
    .iiiimg {
        right: 0;
    }
    .iiiimg::after{
        width: 100%;
        background: rgba(255,255,255, 0.5);
    }
    .iiiimg::before{
        width: 0;
    }
    .iiiimg img{
        max-height: 130%;
    }
    .heading_title {
        padding: 5px;
        border-radius: 10px;
        background: rgba(255,255,255, 0.85);
    }
    .heading_content p {
        padding: 5px;
        border-radius: 10px;
        background: rgba(255,255,255, 0.85);
    }
    .heading-btn {
        background: rgba(255,255,255, 0.89) !important;
    }
    .container__section__constructor {
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .block__img__constructor{
        left: 0;
        width: 100%
    }
    .block__img__constructor::after,.block__img__constructor::before {
        background: linear-gradient( 90deg, #f5f3f194 0%, rgba(249, 248, 248, 0) 60.11%);
        width: 100%;
    }
    .block__info__constructor {
        position: relative;
        z-index: 3;
        padding: 0 15px;
        margin: 0;
        max-width: 100%;
    }
    .block__info__constructor h5, .block__info__constructor p{
        padding: 5px;
        border-radius: 10px;
        background: rgba(255,255,255, 0.89);
        text-align: center;
    }
    .link__constructorBox {
        background: rgba(255,255,255, 0.89);
    }
}

@media(max-width: 650px) {
    .heading_title {
        font-size: 36px;
    }

    .heading_content p {
        font-size: 14px;
    }
    .heading_button{
        margin-top: 20px;
    }
    .heading-btn{
        margin-top: 15px !important;
        width: 250px;
    }
    
}

@media(max-width: 578px) {
    #carouselExampleIndicators{
        padding: 15px 0 35px 0;
    }
    .carousel-indicators{
        margin-bottom: 0;
    }
    .container__carousel__item {
        flex-direction: column;
    }
    .container__item {
        width: 55%;
        padding-top: 15px;
    }
    

}
