﻿#ItemDetailsModal .modal-dialog {  
    max-width: 800px;
}

#ItemDetailsModal .modal-content {
    border-radius: 0;
    /*width: auto;*/
    /*min-height: 450px;
    max-height: 450px;*/
}

.container-details{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container-details .btn-close{
    font-size: 1.2em;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: normal;
    font-family: none;
}

.container-details .btn-close:hover{
    font-size: 1.35em;
    top: 3px;
    right: 3px;
}

.container-details .btn-close:focus{
    outline: none;
    box-shadow: none;
}

.block-image-item {
    height: 350px;
    margin: auto 0;
    width: 50%;
}

.block-image-item img{
    max-height: 350px;
    margin: 0 auto;
    padding: 15px 0;
}

.block-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 30px 10px 10px;
}

.block-info div{
    width: 100%;
}

.title-block-info {
    text-align: center;
    font-family: 'Cormorant SC';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    padding: 3px 2px;
}

.brand-block-info, .country-block-info{
    font-weight: 300;
}

.price-block-info {
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}


.block-info .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-info .desc .accordion__header{
    text-transform: uppercase;
    font-weight: 400;
    display: inline-flex;

}

.block-info .desc .accordion__header::after{
    font-family: "Material Icons";
    content: '\e313';
    transform: rotateZ(0deg);
    transition: all .3s;
}

.accordion input:checked ~ .accordion__header::after {
    transform: rotateZ(180deg);
    transition: all .3s;
}

.accordion{
    text-align: center;
}

.accordion input {
    display: none;
}

.accordion__content {
    display: none;
}

.accordion input:checked ~ .accordion__content {
    display: block;
    text-align: left;
}



@media(min-width:1201px) {
    #ItemDetailsModal .modal-content {
        max-width: 900px;
    }

}


@media(max-width:851px){
    .container-details{
        flex-direction: column;
    }
    .container-details .block-info{
        width: auto;
        height: 50%;
        padding: 10px 30px;
    }
    .container-details .block-image-item{
        display: flex;
        justify-content: center;
        width: auto;
        max-height: 400px;
    }
    #ItemDetailsModal .modal-dialog {
        max-width: 500px;
    }

}


@media(max-width:601px) {
    .container-details .block-image-item {
        max-height: 400px;
    }

    #ItemDetailsModal .modal-dialog {
        max-width: 400px;
    }
}


@media(min-width: 101px) and (max-width: 600px) {
    #ItemDetailsModal .modal-dialog {
        margin: 0 auto;
    }
    #ItemDetailsModal .modal-content{
        margin: 0 10px;
    }
}