﻿*,*::before,*::after {box-sizing: border-box;}
body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd {margin: 0;}
body {min-height: 100vh;scroll-behavior: smooth;text-rendering: optimizeSpeed;line-height: 1.5;}
ul[class],ol[class] {list-style: none; padding: 0;}
ul,ol{list-style: none; padding: 0;}
a:not([class]) {text-decoration-skip-ink: auto; text-decoration: none;}
img {max-width: 100%;display: block;}
article > * + * { margin-top: 1em;}
input,button,textarea,select {font: inherit; border-radius: 0; background-image: none;}

* {
    margin: 0;
    outline: none;
    color: rgb(56, 56, 56);
}

body {
    background-color: #F7F5F4;
}

@media(max-width:770px){
    body.lock{
        overflow: hidden;
    }
}

:root {
    --hover-color: #b98b03;
    --border-color: gray;
    --border-color2: #725b5b;
    --border-color3: #6f6262a8;
    --header-color: #fff;
    --main-color: #F5F3F1;
    --text-color: #725b5b;
    --header-element-container-checked-color: rgba(222, 222, 222, 0.25);
    --header-submenu-checked-color: rgba(222, 222, 222, 0.18);
    --submenu-content-color: rgba(222, 222, 222, 0.1);
    --footer-color: rgba(242, 243, 244, 0.7);
    --submit-btn-color: rgba(165, 165, 165, 0.685);
}

main {
    background-color: #F7F5F4;
}

#LoginModal .modal-content, #RegistrationModal .modal-content {
    background-color: #f4f4f4;
}

@media(max-width:445px){
    #LoginModal .modal-content, #RegistrationModal .modal-content {
        padding: 2em !important;
    }
}

.progress__bar {
    display: none;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgba(70,70,70,0.6);
    position: fixed;
    bottom: 0;
    left: 0;
}

.container__progress {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 16px;
}

.container__progress::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 70%;
    background: linear-gradient(#cb9800, #fff);
    animation: animate 2s linear infinite;
    z-index: 9;
}

.container__progress::after {
    content: '';
    position: absolute;
    inset: 4px;
    background-color: #ededed;
    border-radius: 16px;
    z-index: 10;
}


.container__progress__svg, .container__progress span{
    position: relative;
    z-index: 11;
    color: #725b5b;
}

.container__progress__svg svg {
    width: 40px;
    height: 40px;
}

.container__progress__svg svg path{
    color: #725b5b;
}

.container__progress span {
    font-size: 14px;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}