﻿

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 25% !important;
    }
}

.accordion-button::after {
    margin-left: 15px;
}

.accordion-button:focus {
    box-shadow: none;
}

.in-processing {
    background-color: #e9f1ff;
}

.confirmed {
    background-color: #bee5d3;
}

.canceled {
    background-color: #f9cdd1;
}

@media(max-width: 768px) {
    div.table__header > div::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        padding: 3px;
        margin-right: 5px;
    }
}


.list__items {
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
}

.list__items__in__customBox{

}
.list__items__in__customBox ul li{
    font-weight: 400;
    padding: 2px 0;
    font-size: 0.95em;
}

.list__items__in__customBox ul li::before{
    content: '\2022';
    padding-right: 5px;
}

.order__items .item__img {
    width: 85px;
    min-width: 85px;
}


#btn__show__details__order {
    background-color: transparent;
    border: 0;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

#btn__show__details__order::after {
    content: "";
    flex-shrink: 0;
    width: 1.25rem;
    background-size: 1.25rem;
    height: 1.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    display: inline-block;
    transition: transform .3s ease-in-out;
    margin-left: 15px;
}

#btn__show__details__order.active::after {
    transform: rotateZ( 180deg);
}

#btn__accept__order, #btn__cancel__order, #btn__send__sms{
    padding: 5px 2px;
}
