﻿.menu {
    padding: 15px 25px 15px 25px;
    border-bottom: 1px solid #b2acac;
}

.container__menu {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    margin: 0; 
}

.element__menu > a {
    cursor: pointer;
    font-size: 1.1em;
    padding: 5px 7px;
    font-weight: 500;
}

.element__submenu a {
    font-size: 0.83em;
    font-weight: 500;
}

.menu .block__contacts, .menu .block__login, .menu .block__out__account {
    display: none;
}


@media (min-width:770px) {
    .list__submenu {
        background-color: var(--main-color);
        width: 100%;
        padding: 35px 20px !important;
        position: absolute;
        right: 0;
        display: none;
        box-shadow: 0 10px 10px rgb(0 0 0 / 25%);
        justify-content: space-evenly;
        font-size: 1.2em;
        z-index: 10;
        border-bottom: 1px solid #b2acac;
    }

    .element__menu:hover > .list__submenu {
        display: flex;
    }
}

@media (max-width: 770px) {
    .menu {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        background-color: var(--main-color);
        transform: translateX(-100%);
        transition: all 0.4s ease 0s;
        padding-top: 30px;
    }
    .menu.open {
        transform: translateX(0%);
    }
    .container__menu {
        display: flex;
        flex-direction: column;
        padding: 0 0 30px 0;
    }
    .element__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #793f24;
        padding: 5px 0;
    }
    .element__menu:first-child{
        border-top: 1px solid #793f24;
    }

    .element__menu > a {
        width: 85%;
    }
    .element__menu > label {
        width: 15%;
        margin: 0;
    }
    .element__menu label {
        display: flex;
        justify-content: center;
    }
    .element__menu label::after {
        font-family: "Material Icons";
        content: '\e313';
        transform: rotateZ(0deg);
        transition: all .3s;
        font-size: 1.7em;
        font-weight: 100;
    }
    .element__menu input:checked + label::after {
        transform: rotateZ(180deg);
    }
    .element__menu input:checked ~ .list__submenu{
        max-height: 500px;
        opacity: 1;
        visibility: visible;
        transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
    }
    .list__submenu {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 7px;
        box-shadow: none;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: max-height 0.2s ease-out, opacity 0.15s ease-out;
    }
    .list__submenu .element__submenu {     
        display: flex;
    }
    .list__submenu .element__submenu:not(:first-child){
        border-top: 1px solid #ad8f81;
    }
    .element__submenu a{
        width: 100%;
        padding: 7px 4px;
        font-size: 0.95em;
    }  
    .container__info p {
        margin: 0;
    }
    .menu .block__login, .menu .block__out__account {
        display: block;
        text-align: center;
        padding: 30px 0;
    }
    .menu .block__login a{
        color: #806b6b;
        text-decoration: underline;
    }
    .menu .block__login span{
        color: #806b6b;
    }
    .menu .block__contacts {
        display: block;
    }
    .menu .block__contacts a:hover *{
        color: var(--hover-color);
    }
    .menu .block__contacts p{
        font-weight: 500;
        color: #806b6b;
    }
}

