﻿.main-order {
    display: flex;
    flex: 1 1 auto;
    margin: 0 2% 0 7%;
    min-height: 450px;
}

.container-order {
    display: flex;
    flex: 1 1 auto;
    min-height: 650px;
}

.container-order button:focus{
    outline: none;
}

.block-details-order {
    display: flex;
    margin: 30px 10px 10px 0;
    flex-direction: column;
    flex: calc(70% - 10px);
}

.block-shadow-order {
    background: linear-gradient( 270deg, rgba(96, 81, 81, 0.2) 0%, rgba(0, 0, 0, 0) 79.19%);
    opacity: 0.5;
    width: 43px;
    min-width: 20px;
}

.block-price-order {
    flex: calc(30% - 43px);
    padding: 5% 0 0 20px;
    min-width: 265px;
    max-width: 450px;
}

.container-items-order {
    width: 100%;
    margin-bottom: 40px;
}

.container-items-order input {
    display: none;
}

.container-items-order > label {
    width: 100%;
    font-size: 22px;
    border-bottom: 1px dashed #878787;
    padding: 5px 0;
}

.container-items-order > label > span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #5f4d4d;
    letter-spacing: 0.04em;
    font-size: 0.7em;
    padding: 3px 5px;
}

.hide-items-order {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    background-color: #ececec;
    border-radius: 3px;
}

.hide-items-order:hover{
    color: var(--hover-color);
}

.hide-items-order::after {
    font-family: "Material Icons";
    content: '\e313';
    transform: rotateZ( 0deg);
    transition: all .3s;
}

.hide-items-order::before {
    content: 'Скрыть';
    transform: rotateZ( 0deg);
    transition: all .3s;
    font-size: 14px;
}


.hide-items-order.active::after {
    transform: rotateZ( 180deg);
}

.hide-items-order.active::before {
    content: 'Показать';
}

.content-items-order {
    flex: 0 0 auto;
    position: static;
    padding: 3px 15px;
}


.item-order {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    justify-content: center;
}

.img-item-order {
    height: 100px;
}

.img-item-order img{
    height: 100%;
}

.title-item-order{
    flex: 1 1 120px;
    padding-left: 10px;
}


.title-item-order > span{
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #5f4d4d;
}

.desc-item-order{
    
}

.desc-item-order li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5f4d4d;
    padding: 2px 0 0;
    font-size: 0.8em;
}

.desc-item-order li::before{
    content: '\2022';
    padding-right: 5px;
}

.desc-item-order p{
    font-size: 12px;
}

.price-item-order {
    padding-left: 25px;
    margin: auto 0;
}

.price-item-order > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #5f4d4d;
    letter-spacing: 0.04em;
}

.container-delivery{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

}


.header-container-delivery span {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #5f4d4d;
    letter-spacing: 0.04em;
}

.container-item-delivery {
    display: flex; 
}

.container-item-delivery label {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    color: #b3b3b3;
    cursor: pointer;
    margin: 0;
}

.container-item-delivery label span {
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5f4d4d;
}
.container-addresses-store {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px dashed #878787;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5f4d4d;
}

.container-userAddresses{
    display: flex;
    flex-direction: column;
}

.container-userAddresses h2{
    font-size: 18px;
    margin: 10px auto;
}

.container-userAddress {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px dashed gray;
    align-items: center;
    margin: 0;
}

.item-userAddress {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.block-info-itemUserAddress {
    color: #5f4d4d;
}

.block-btn-itemUserAddress {
    margin-left: auto;
}

.block-btn-itemUserAddress {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.block-btn-itemUserAddress button{
    color: #5f4d4d;
}

.item-userAddress {
    padding: 10px;
    border: 1px dashed transparent
}


.btn-change-itemUserAddress, .btn-delete-itemUserAddress {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
}

.btn-change-itemUserAddress:focus, .btn-delete-itemUserAddress:focus {
    border: none;
    background: transparent;
}

.btn-change-itemUserAddress:hover, .btn-delete-itemUserAddress:hover {
    color: var(--hover-color);
}

.btn-delete-itemUserAddress::before {
    font-family: "Material Icons";
    content: "\e92e";
    font-size: 20px;
}

.btn-change-itemUserAddress::before {
    font-family: "Material Icons";
    content: "\e3c9";
    font-size: 20px;
}


.container-userAddresses label > input[type=radio], .container-item-delivery label > input[type=radio], .content-payment label > input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    height: 25px;
    width: 25px;
    min-width: 25px;
    transition: all 0.15s ease-out 0s;
    border: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    border-radius: 50%;
}

.container-userAddresses label > input[type=radio]:hover, .container-item-delivery label > input[type=radio]:hover, .content-payment label > input[type=radio]:hover {
    background: #f0f0f0;
}

.container-userAddresses label > input[type=radio]:checked::before, .container-item-delivery label > input[type=radio]:checked::before, .content-payment label > input[type=radio]:checked::before {
    height: 25px;
    width: 25px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 25px;
    font-family: initial;
    color: var(--hover-color);
}

.container-userAddresses label > input[type=radio]:checked::after, .container-item-delivery label > input[type=radio]:checked::after, .content-payment label > input[type=radio]:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: var(--hover-color);
    content: '';
    display: block;
    position: relative;
    border-radius: 50%;
}

.block-btn-addNew-itemUserAddress {
    text-align: center;
    border-bottom: 1px dashed #878787;
}

.block-btn-addNew-itemUserAddress button{
    color: #5f4d4d;
}

.btn-addNew-itemuserAddress {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    margin: auto;
}

.btn-addNew-itemuserAddress:hover{
    color: var(--hover-color);
}

.btn-addNew-itemuserAddress::before {
    font-family: "Material Icons";
    content: "\e3c9";
    font-size: 20px;

}

@keyframes click-wave {
    0% {
        height: 25px;
        width: 25px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 60px;
        width: 60px;
        margin-left: -20px;
        margin-top: -19px;
        opacity: 0;
    }
}


.container-payment{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.header-container-payment span {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #5f4d4d;
    letter-spacing: 0.04em;
}

.content-payment {
    display: flex;
    flex-direction: column;
}

.item-payment{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.item-payment > span{
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5f4d4d;
}

.block-img-payment_bankCard {
    display: flex;
    margin-left: 30px;
    flex-wrap: wrap;
}

.item-payment img {
    height: 40px;
}

#img-payment_cash {
    margin-left: 30px;
}

.container-order-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-order-bottom .div-btnCreateOrder {
    width: 200px;
    height: 50px;
}

.container-order-bottom .btnCreateOrder {
    width: 100%;
    height: 100%;
    font-size: 18px;
    position: relative;
    background-color: gray;
    color: white;
    border: 1px solid;
}

.container-order-bottom .btnCreateOrder:disabled {
    opacity: 0.25;
    cursor: not-allowed;
}

@media(max-width: 900px) {
    .main-order {
        margin: 0 20px;
    }
    .container-item-delivery label span{
        font-size: 14px;
    }
}

@media(max-width: 770px) {
    .main-order {
        margin: 0;
        padding-bottom: 50px;
    }
    .container-order {
        flex-direction: column;
    }
    .block-details-order {
        margin: 0;
        padding: 15px;
    }
    .container-payment{
        margin: 0;
    }
    .block-shadow-order {
        background: linear-gradient( 360deg, rgba(96, 81, 81, 0.2) 0%, rgba(0, 0, 0, 0) 79.19%);
        opacity: 0.5;
        width: 100%;
        height: 43px;
    }
    .block-price-order {
        margin: 0;
        padding: 20px 30px 5px 30px;
        max-width: 100%;
    }
    .container-order-bottom {
        margin-top: 20px;
    }

@media(max-width: 591px) {
   .container-item-delivery{
       flex-direction: column;
   }
    .container-item-delivery label{
        padding: 10px;
    }
    .item-payment {
        margin: 0;
        padding: 5px 0;
    }
}


@media(max-width: 491px) {
    .item-order {
        height: auto;
        padding: 5px;
    }
   .desc-item-order{

   }
    .item-userAddress {
        display: flex;
        flex-direction: column;
    }

    .block-btn-itemUserAddress {
        flex-direction: row;
        margin: 0 auto;
    }
}

@media(max-width: 391px) {
    .item-order{
       
    }
    .price-item-order{
        margin: 0 0 0 auto;
    }
    
}