﻿.main-orderComplete {
    height: 600px;
    margin: 0 auto;
    padding: 70px 0
}

.container-orderComplete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.block-img-orderComplete img{
    height: 150px;
}

.header-orderComplete {
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    padding: 10px;
}

.header-orderComplete > span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #725b5b;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}

.block-info-orderComplete {
    padding: 10px;
    text-align: center;
}

.block-info-orderComplete > span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #725b5b;
    font-size: 1.1em;
    letter-spacing: 0.05em;
}


.btn-go-buy {
    font-size: 16px;
    color: var(--main-color);
    border: 1px solid var(--hover-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 10px 35px;
    background: rgba(96, 81, 81, 0.5);
    color: var(--main-color);
    margin-top: 30px;
}

.btn-go-buy:focus{
   outline: none;
}

.btn-go-buy:hover{
    color: var(--hover-color);
}