﻿.main-shoppingCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
}

.wrapper-shoppingCart {
    margin: 0 2% 0 7%;
}

.content-shoppingCart {
    display: flex;
    flex: 1 1 auto;
    min-height: 650px;
}

.icon-shoppingCart {
    width: 170px;
    height: 157px;
    margin: 0 auto;
    background-image: url(icon/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.btn-go-to-catalog {
    display: inline-block;

    padding: 18px 35px;
    background: rgba(237, 231, 227, 0.5);
    border-radius: 3px;
    border: none;
    color: #C5AA9C;
    font-weight: bold;
    font-size: 24px;
    font-family: "Cormorant SC",serif;
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.main-shoppingCart h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #5f4d4d;
    letter-spacing: 0.04em;
}

.main-shoppingCart h6 {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #5f4d4d;
    letter-spacing: 0.04em;
}

.header-shoppingCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header-shoppingCart input {
    background-color: #ececec;
    border-radius: 3px;
    border: none;
    transition: all 0.2s ease;
    height: 35px;
    line-height: 33px;
    padding: 0 13px 0 42px;
    margin: 0 0 0 auto;
    color: black;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
}

.container-shoppingCart {
    display: flex;
    flex: 1 1 auto;
    min-height: 650px;
}

.container-shoppingCart h1{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.block-content-shoppingCart {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 25px 50px 0;
    width: calc(70% - 25px);
}

.item-shoppingCart {
    width: 100%;
    position: relative;
    display: flex;
    padding: 20px 0;
    border-top: 0.5px solid lightgray;
}



.grid-item-shoppingCart {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}

.image-item-shoppingCart {
    flex-shrink: 0;
    max-width: 135px;
    min-width: 100px;
    height: auto;
    margin-right: 15px;
    grid-row: span 2;
}

.image-item-shoppingCart a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info-item-shoppingCart {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.info-item-shoppingCart h2{
    font-size: 18px;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5f4d4d;
}

.container-items-in-customBox{
    padding: 2px 0;
}

.container-items-in-customBox li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5f4d4d;
    padding: 2px 0 0;
    font-size: 0.8em;
}

.container-items-in-customBox li::before{
    content: '\2022';
    padding-right: 5px;
}

.price-amount-item-shoppingCart {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-top: 35px;
}

.price-for-one{

}

.price-for-one span{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5f4d4d;
    letter-spacing: 0.04em;
}

.price-for-one p{
    font-size: 12px;
    line-height: 15px;
    color: #605151;
    opacity: 0.5;
}

.wrapper-input-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}

.price-for-all-item{
    margin-left: auto;
}

.price-for-all-item span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #5f4d4d;
    letter-spacing: 0.04em;
    padding-left: 10px;
}

.deleteFromCart::before {
    position: absolute;
    top: 3px;
    right: 0px;
    font-family: "Material Icons";
    content: "\e92e";
    font-size: 24px;
}

.deleteFromCart:hover {
    cursor: pointer;
    color: var(--hover-color);
}


.bottom-content-shoppingCart{
    display: flex;
    border-top: 1px solid lightgray;
}

.bottom-content-shoppingCart span{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #5f4d4d;
    letter-spacing: 0.04em;
}

.block-shadow-shoppingCart {
    background: linear-gradient( 270deg, rgba(96, 81, 81, 0.2) 0%, rgba(0, 0, 0, 0) 79.19%);
    opacity: 0.5;
    width: 43px;
    min-width: 20px;
}

.block-container-total-price {
    flex: calc(30% - 43px);
    padding: 5% 0 0 20px;
    min-width: 265px;
    max-width: 450px;
}

.container-total-price{
    display: flex;
    flex-direction: column;
}

.container-total-price span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #5f4d4d;
    padding: 10px 0;
}

.content-total-price {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row-price-payment {
    display: flex;
    justify-content: space-between;
}

.row-price-payment.total-price-payment{
    border-top: 2px solid lightgray;
}


.container-total-price input[type=button] {
    font-size: 16px;
    border: 1px solid var(--hover-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
    background: rgba(96, 81, 81, 0.5);
    color: #fff;
}

.container-total-price input[type=button]:hover {
    color: var(--hover-color);
}

.coupon-section{
    width: 100%;
    margin: 30px 0;
}

.block-filed-coupon input[type=text] {
    width: 100%;
    max-width: 200px;
    border: 1px solid var(--hover-color);
    border-radius: 3px 0 0 3px;
    height: 40px;
    padding: 10px;
}

.block-filed-coupon{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.block-filed-coupon span {
    font-size: 17px;
}

.block-filed-coupon div{
    display: flex;
}

.block-filed-coupon div input[type=button] {
    border-radius: 0 3px 3px 0;
    padding: 5px;
    font-size: 12px;
    border-left: none;
}

.alert-coupon{
    text-align: center;
    padding: 10px;
}

.block-btn-shoppingCart{
    text-align: center;
}

.block-btn-shoppingCart a input[type=button]{
    width: 100%;
    max-width: 250px;
    padding: 10px;
}

.input-number {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 30px;
    color: #424348;
    font-size: 14px;
    text-align: center;
    width: 130px;
}

.input-number__input {
    width: 35px;
    height: 35px;
    border: none;
    padding: 8px;
    text-align: center;
    appearance: textfield;
    line-height: 1;
    font-size: 14px;
    background: transparent;
}

.input-number__minus,
.input-number__plus {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    background: #ececec;
}


@media(max-width: 900px) {
    .wrapper-shoppingCart {
        margin: 0 20px;
    }
}

@media(max-width:770px) {
    .wrapper-shoppingCart {
        margin: 0;
    }

    .content-shoppingCart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .block-content-shoppingCart {
        width: 100%;
        padding: 20px;
        margin: 0;
    }

    .block-shadow-shoppingCart {
        background: linear-gradient( 360deg, rgba(96, 81, 81, 0.2) 0%, rgba(0, 0, 0, 0) 79.19%);
        width: 100%;
        height: 43px;
    }

    .block-container-total-price {
        width: 100%;
        max-width: 100%;
        padding: 20px 20px 50px 20px;
    }

    .block-container-total-price input {
        font-size: 14px;
        padding: 10px;
    }

    .coupon-section {
        order: -1;
        margin: 0;
    }

    .block-filed-coupon {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .block-btn-shoppingCart {
        margin-top: 20px;
    }
}

@media(max-width: 591px) {
    .block-content-shoppingCart{
        padding: 15px;
    }
    .block-container-total-price{
        padding: 15px;
    }
    .block-filed-coupon {
        flex-direction: column;
    }


@media(max-width: 491px) {
    .info-item-shoppingCart h2{
        font-size: 16px;
    }
    .image-item-shoppingCart{
        width: 110px;
    }
    .price-amount-item-shoppingCart {
        grid-column: span 2;
        padding-top: 5px;
    }
    .input-number{
        width: auto;
    }
}

@media(max-width: 371px) {
    .image-item-shoppingCart {
        width: 100px;
    }
    .info-item-shoppingCart h2 {
        font-size: 15px;
    }
    .input-number__minus, .input-number__plus {
        width: 30px;
        height: 30px;
    }
    .input-number__input {
        width: 25px;
        height: 25px;
    }
}