﻿#UserAddressModal .modal-content {
    background-color: #f4f4f4;
}


#EditUserAddressForm, #CreateUserAddressForm{
    padding: 10px 30px;
}

  
#EditUserAddressForm .btn-close, #CreateUserAddressForm .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
}

#EditUserAddressForm .btn-close:hover, #CreateUserAddressForm .btn-close:hover {
    font-size: 1.35em;
    top: 8px;
    right: 8px;
    color: var(--hover-color);
}


#EditUserAddressForm .btn-close:focus, #CreateUserAddressForm .btn-close:focus {
    outline: none;
	box-shadow: none;
}

#EditUserAddressForm .block-input-fields, #CreateUserAddressForm .block-input-fields {
    margin-bottom: 5px
}


#EditUserAddressForm .input-fields, #CreateUserAddressForm .input-fields {
    display: block;
    position: relative;
    margin-bottom: 0;
}

#EditUserAddressForm .input-fields input:focus ~ .placeholder,
#EditUserAddressForm .input-fields input:not(:focus):valid + .placeholder {
    transform: translateY(-20px);
    font-size: 14px;
}


#CreateUserAddressForm .input-fields input:focus ~ .placeholder,
#CreateUserAddressForm .input-fields input:not(:focus):valid + .placeholder {
    transform: translateY(-20px);
    font-size: 14px;
}

#EditUserAddressForm .placeholder, #CreateUserAddressForm .placeholder {
    display: block;
    font-size: 16px;
    color: #b3b3b3;
    position: absolute;
    top: 25px;
    left: 0px;
    transition: transform .3s ease,color .25s ease;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.2;
    z-index: 100;
    text-align: left;
}


#EditUserAddressForm input[type=text], input[type=password], input[type=email], #CreateUserAddressForm input[type=text], input[type=password], input[type=email] {
    width: 100%;
    font-size: 16px;
    padding: 25px 10px 1px 1px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--border-color);
    background-color: transparent;
}


#EditUserAddressForm .sms-valid, #CreateUserAddressForm .sms-valid {
    height: 18px;
    font-size: 13px;
    color: rgb(221, 71, 71);
}

#btn-submit-create-userAdress, #btn-edit-userAdress {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: rgba(96, 81, 81, 0.5);
    color: #fff;
    border: 1px solid var(--hover-color);
    margin-top: 20px;
}

#btn-submit-create-userAdress:hover, #btn-edit-userAdress:hover{
    color: var(--hover-color);
}

.block-home-apartament {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.block-home-apartament .input-fields input[type=text]{
    
}