﻿@model WebApplication7.Entities.CategoryItem

@{
    ViewData["Title"] = "Delete";
}
<style>
    dt, dd {
        padding: 7px;
        border-bottom: 1px solid #dee2e6;
    }

    @@media(max-width: 577px) {
        dt, dd {
            padding: 2px 10px;
        }

        dt {
            border: none;
        }
    }
</style>

<div class="container p-3">
    <h3>Вы действительно хотите удалить категорию "@Model.Title"?</h3>

    <div class="mt-2">
        <a class="btn btn-primary" asp-action="Index" >
            <i class="bi bi-arrow-left-square text-white"></i>
            Вернуться к списку
        </a>
    </div>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ImageCategoryItem)
            </dt>
            <dd class="col-sm-9">
                <div style="max-width: 250px">
                    <img class="img-thumbnail" style="height: 150px; width: 150px" src="@Model.ImageCategoryItem" />
                </div>
            </dd>
        </dl>

        <form asp-action="Delete" class="mt-3">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" /> 
        </form>
    </div>
</div>
