﻿@model WebApplication7.Entities.CategoryItem

@{
    ViewData["Title"] = "Edit";
}

<div class="container p-2">
    <h3>Изменение "@Model.Title"</h3>

    <div class="mt-2">
        <a class="btn btn-primary" asp-action="Index" >
            <i class="bi bi-arrow-left-square text-white"></i>
            Вернуться к списку
        </a>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group py-1">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="ImageCategoryItem" class="control-label"></label>
                    <img id="img__category__item" class="img-thumbnail mb-2" src="@Model.ImageCategoryItem"  alt="----"/>
                    <input asp-for="ImageCategoryItem" type="file" class="form-control-file" onchange="onFileSelected(event)"/>
                    <span asp-validation-for="ImageCategoryItem" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function onFileSelected(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("img__category__item");
        imgtag.title = selectedFile.name;

        reader.onload = function (event) {
            imgtag.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);
    }
</script>
    }
