﻿@model IEnumerable<WebApplication7.Entities.CategoryItem>

@{
    ViewData["Title"] = "Index";
}
<style>
    table.table-3 {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    table.table-3 thead {
        border-top: 2px solid #a7a7a7;
    }

    table.table-3 tr {
        border-top: 1px solid #bbbbbb;
    }

    table.table-3 th,
    table.table-3 td {
        text-align: left;
        padding: 8px;
    }

    @@media(max-width: 770px) {
        table.table-3 {
            border: 0;
        }

        table.table-3 thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table.table-3 tr {
            border-bottom: 1px solid #ddd;
            display: block;
            margin-bottom: 30px;
        }

        table.table-3 td {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            border-top: 1px solid #bbbbbb;
        }

        table.table-3 td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            padding: 3px;
            margin-right: 5px;
        }

        table.table-3 td:last-child {
            border-bottom: 0;
            justify-content: center;
        }
    }
</style>


<div class="container-xl mt-3">
    <h3>Категории предметов</h3>

    <p class="py-2">
        <a class="btn btn-primary" asp-action="Create" asp-route-categoryItemId="@ViewBag.CategoryItemId">Создать новую</a>
    </p>

    <table class="table-3">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.ImageCategoryItem)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td data-label="@Html.DisplayNameFor(model => model.Title)">@Html.DisplayFor(modelItem => item.Title)</td>
                    <td data-label="@Html.DisplayNameFor(model => model.Description)">@Html.DisplayFor(modelItem => item.Description)</td>
                    <td data-label="@Html.DisplayNameFor(model => model.ImageCategoryItem)">
                        <div style="max-width: 200px;">
                            <img class="img-thumbnail" src="@item.ImageCategoryItem" alt="---" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center flex-wrap">
                            <a class="btn btn-warning  m-1" asp-action="Edit" asp-route-id="@item.Id" asp-route-someOrAll="@ViewBag.SomeOrAll">Изменить</a>
                            <a class="btn btn-info  m-1" asp-action="Details" asp-route-id="@item.Id" asp-route-someOrAll="@ViewBag.SomeOrAll">Детали</a>
                            <a class="btn btn-danger  m-1" asp-action="Delete" asp-route-id="@item.Id" asp-route-someOrAll="@ViewBag.SomeOrAll">Удалить</a>
                            <a class="btn btn-info m-1" asp-controller="Item" asp-action="index" asp-route-categoryItemId="@item.Id">
                                Внутрь
                                <i class="bi bi-arrow-right-square"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>