﻿@model WebApplication8.Models.UserAddress
@{
    Layout = null;
}



<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            <form id="EditUserAddressForm" name="EditUserAddressForm" asp-controller="UserAddress" asp-action="Edit">
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="isValid" />

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" asp-for="FirstName" required>
                        <span class="placeholder">Имя</span>
                    </label>
                    <span asp-validation-for="FirstName" class="sms-valid"></span>
                </div>

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" asp-for="LastName" required>
                        <span class="placeholder">Фамилия</span>
                    </label>
                    <span asp-validation-for="LastName" class="sms-valid"></span>
                </div>

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" asp-for="PhoneNumber">
                        <span class="placeholder">Номер телефона</span>
                    </label>
                    <span asp-validation-for="PhoneNumber" class="sms-valid"></span>
                </div>


                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" asp-for="City">
                        <span class="placeholder">Город</span>
                    </label>
                    <span asp-validation-for="City" class="sms-valid"></span>
                </div>

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" asp-for="Street">
                        <span class="placeholder">Улица</span>
                    </label>
                    <span asp-validation-for="Street" class="sms-valid"></span>
                </div>
                <div class="block-home-apartament">
                    <div class="block-input-fields">
                        <label class="input-fields">
                            <input type="text" asp-for="Home">
                            <span class="placeholder">Дом</span>
                        </label>
                        <span asp-validation-for="Home" class="sms-valid"></span>
                    </div>

                    <div class="block-input-fields">
                        <label class="input-fields">
                            <input type="text" asp-for="Apartment">
                            <span class="placeholder">Квартира</span>
                        </label>
                        <span asp-validation-for="Apartment" class="sms-valid"></span>
                    </div>
                </div>

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" asp-for="AdditionalInformation">
                        <span class="placeholder">Доп информация(необязательно)</span>
                    </label>
                    <span asp-validation-for="AdditionalInformation" class="sms-valid"></span>
                </div>


                <input type="button" value="Сохранить" id="btn-edit-userAdress" />
            </form>

        </div>
    </div>
</div>





