﻿@model IEnumerable<WebApplication8.Models.UserAddress>

@{
    Layout = null;
}

<div class="container-userAddresses">
    @if (Model.Count() == 0)
    {
        <h2>У вас нет адреса доставки!</h2>
        <div class="block-btn-addNew-itemUserAddress">
            <button class="btn-addNew-itemuserAddress" type="button">Добавить адрес</button>
        </div>
    }
    else
    {

        @foreach (var item in Model)
        {
            <label class="container-userAddress">
                <input type="radio" name="itemUserAddress" value="@item.Id" id="itemUserAddress" />
                <span class="item-userAddress">
                    <span class="block-info-itemUserAddress">
                        @item.FirstName &nbsp @item.LastName &nbsp
                        <br />
                        г. @item.City &nbsp ул. @item.Street &nbsp дом @item.Apartment &nbsp кв. @item.Apartment
                        <br />
                        @if (item.AdditionalInformation != null)
                        {
                            @item.AdditionalInformation
                            <br />
                        }
                        @item.PhoneNumber
                    </span>

                    <span class="block-btn-itemUserAddress">
                        <button class="btn-change-itemUserAddress" type="button" value="@item.Id">Изменить</button>
                        <button class="btn-delete-itemUserAddress" type="button" value="@item.Id">Удалить</button>
                    </span>
                </span>
            </label>

        }
        <div class="block-btn-addNew-itemUserAddress">
            <button class="btn-addNew-itemuserAddress" type="button">Добавить адрес</button>
        </div>


    }
</div>
