﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="main-home">


    <div class="section_home">

        <div class="iiiimg">
            <img src="/images/IMG_5254.jpg" />
        </div>


        <div class="heding_container">
            <div class="heading_content">
                <h1 class="heading_title">Подарочные боксы Ti'Skon</h1>
                <p>
                    Готовые подарочные боксы для себя и родных
                    <br />
                    Конструктор для сборки индивидуальных боксы 
                </p>
                <div class="heading_button">
                    <a class="heading-btn" asp-controller="CategoryBox" asp-action="Details" asp-route-id="8" asp-area="">В каталог</a>
                    <a class="heading-btn" asp-controller="CategoryBox" asp-action="Details" asp-route-id="24" asp-area="">В конструктор</a>
                </div>
            </div>
        </div>

    </div>




    <div class="section_popular">

    </div>


</div>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap" rel="stylesheet">
<link href="~/css/home.css" rel="stylesheet" />