﻿@model IEnumerable<WebApplication7.Entities.Box>

@{
    ViewData["Title"] = "Index";
}

<style>
    table.table-3 {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    table.table-3 thead {
        border-top: 2px solid #a7a7a7;
    }

    table.table-3 tr {
        border-top: 1px solid #bbbbbb;
    }

    table.table-3 th,
    table.table-3 td {
        text-align: left;
        padding: 5px;
    }
    table.table-3 .accordion {
        width: 200px;
    }
    table.table-3 .accordion-item {
        border: none;
        background-color: transparent;
    }
    .admin__container__img {
        max-width: 200px;
    }
    table.table-3 .accordion-button:focus {
        box-shadow: none;
    } 

    @@media(max-width: 831px) {
        table.table-3 {
            border: 0;
        }

        table.table-3 thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table.table-3 tr {
            border-bottom: 1px solid #ddd;
            display: block;
            margin-bottom: 30px;
        }

        table.table-3 td {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            border-top: 1px solid #bbbbbb;
        }

        table.table-3 td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            padding: 3px;
            margin-right: 5px;
        }

        table.table-3 td:last-child {
            border-bottom: 0;
            justify-content: center;
        }
        table.table-3 .accordion{
            width: 100%;
        }
    }
</style>

<div class="container-xl p-3">
    @if (ViewBag.TitleIndexCategoryName != null && ViewBag.TitleIndexTypeName != null)
    {
        <h4>Тип: "@ViewBag.TitleIndexTypeName"</h4>
        <h4>Категория: "@ViewBag.TitleIndexCategoryName"</h4>
    }
    else
    {
        <h3>Все боксы</h3>
    }

    <p class="my-2">
        <a class="btn btn-primary" asp-action="Create" asp-route-categoryBoxId="@ViewBag.categoryBoxId" asp-route-someOrAll="@ViewBag.SomeOrAll">Создать новый</a>
    </p>

    <div class="p-0">
        <table class="table-3">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Additionally)</th>
                    <th>@Html.DisplayNameFor(model => model.ImageBox)</th>
                    <th>@Html.DisplayNameFor(model => model.FullPrice)</th>
                    <th>@Html.DisplayNameFor(model => model.CategoryBoxName)</th>
                    <th>@Html.DisplayNameFor(model => model.TypeBoxName)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-label="@Html.DisplayNameFor(model => model.Title)">@Html.DisplayFor(modelItem => item.Title)</td>
                        <td data-label="@Html.DisplayNameFor(model => model.Description)">
                            <div class="accordion" id="accordionExample" >
                                <div class="accordion-item"  >
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@String.Concat("#collapseOne", @item.Id)" aria-expanded="true" aria-controls="@String.Concat("collapseOne", @item.Id)">
                                            Описание бокса
                                        </button>
                                    </h2>
                                    <div id="@String.Concat("collapseOne", @item.Id)" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            @if (String.IsNullOrEmpty(item.Description)) {
                                                <p style="text-align:center;">---------</p>
                                            }
                                            else {
                                                @item.Description
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td data-label="@Html.DisplayNameFor(model => model.Additionally)">@Html.DisplayFor(modelItem => item.Additionally)</td>
                        <td data-label="@Html.DisplayNameFor(model => model.ImageBox)">
                            <div class="admin__container__img">
                                <img class="img-thumbnail" src="@item.ImageBox" alt="---" />
                            </div>
                        </td>
                        <td data-label="@Html.DisplayNameFor(model => model.FullPrice)">@Html.DisplayFor(modelItem => item.FullPrice)</td>
                        <td data-label="@Html.DisplayNameFor(model => model.CategoryBoxName)">@Html.DisplayFor(modelItem => item.CategoryBoxName)</td>
                        <td data-label="@Html.DisplayNameFor(model => model.TypeBoxName)">@Html.DisplayFor(modelItem => item.TypeBoxName)</td>

                        <td>
                            <div class="d-flex align-items-center flex-wrap">
                                <a class="btn btn-warning  m-1" asp-action="Edit" asp-route-id="@item.Id" asp-route-someOrAll="@ViewBag.SomeOrAll">Изменить</a>
                                <a class="btn btn-info  m-1" asp-action="Details" asp-route-id="@item.Id" asp-route-someOrAll="@ViewBag.SomeOrAll">Детали</a>
                                <a class="btn btn-danger  m-1" asp-action="Delete" asp-route-id="@item.Id" asp-route-someOrAll="@ViewBag.SomeOrAll">Удалить</a>
                                <a class="btn btn-info m-1" asp-controller="BoxItem" asp-action="index" asp-route-BoxId="@item.Id">
                                    Внутрь
                                    <i class="bi bi-arrow-right-square"></i>
                                </a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
