﻿@model WebApplication7.Entities.CategoryBox

@{
    ViewData["Title"] = "Index";
}

<div class="main-container-listBox">
    <h1>@Model.Title</h1>
    <div class="container-listBox">

        <ul class="content-listBox">
            @foreach (var box in Model.Boxes)
            { 
                <li class="box-li">
                    <form class="card-box" method="post">
                        @if (box.TypeBoxName == "кастомные боксы")
                        {
                            <a asp-controller="ConstructorBox" asp-action="Index" asp-route-id="@box.Id" asp-area="">
                                <div class="img">
                                    <img src="@box.ImageBox" />
                                    <div class="titleBox"><h5>@box.Title</h5></div>
                                </div>
                            </a>
                            <div class="card-box-desc">
                                <span>@box.Description Бьюти--база для ежедневного ухода за кожей и волосами от Ropin, Synergetic и Holika Holika. Бокс с косметикой, которая доказывает — качественный и эффективный уход может быть простым и понятным</span>
                            </div>

                            <div class="card-box-bottom" style="justify-content: center">
                                <a asp-controller="ConstructorBox" asp-action="Index" asp-route-id="@box.Id" asp-area=""><input type="button" id="btn-gatherBox" value="Собрать бокс" /></a>
                            </div>
                        }
                        else
                        {
                            <a asp-controller="Box" asp-action="Details" asp-route-id="@box.Id" asp-area="">
                                <div class="img">
                                    <img src="@box.ImageBox" />
                                    <div class="titleBox"><h5>@box.Title</h5></div>
                                </div>
                            </a><div class="card-box-desc">
                                <span>@box.Description Бьюти-база для ежедневного ухода за кожей и волосами от Ropin, Synergetic и Holika Holika. Бокс с косметикой, которая доказывает — качественный и эффективный уход может быть простым и понятным</span>
                            </div>

                            <div class="card-box-bottom">
                                <span> @String.Concat(@box.FullPrice, "р.")</span>
                                <a><input type="button" class="btn-addToCart" id="@box.Id" value="В корзину" /></a>
                            </div>
                        }


                    </form>

                </li>
            }
        </ul>


    </div>

</div>


<link href="~/css/categoryBox.css" rel="stylesheet" />


@section Scripts {
<script type="text/javascript">

 $(function () {
     var btnAddToCart = $(".main-container-listBox .btn-addToCart").click(addItemToCartClick);

     function addItemToCartClick() {
         const boxId = $(this).attr("id");
         const antiForgeryToken = $(".card-box input[name='__RequestVerificationToken']").val();
         const that = $(this).closest('.card-box').find('img');
         const bascket = $(".shoppingCart");

         $('.btn-addToCart').prop('disabled', true);
         $('.progress__bar').css('display', 'flex');

         $.ajax({
             type: 'POST',
             url:  "/ShoppingCart/AddBoxToCart" ,
         data: {
             boxId: boxId,
             __RequestVerificationToken: antiForgeryToken
         },
             success: function (data) {
                 $('.btn-addToCart').prop('disabled', false);
                 $('.progress__bar').css('display', 'none');

                 const w = that.width();
                 that.clone().css({
                     'width': w, 'position': 'absolute', 'z-index': '9999', top: that.offset().top, left: that.offset().left
                 }).appendTo("body").animate({ opacity: 0.05, left: bascket.offset()['left'], top: bascket.offset()['top'], width: 20 }, 1000, function () {
                     $(this).remove();
                 });

                 var counter_shoppingCart = $(".counter__shoppingCart");
                 var new_counter_shoppingCart = Number.parseInt($(".counter__shoppingCart").text())
                 new_counter_shoppingCart++;
                 counter_shoppingCart.text(new_counter_shoppingCart);

             },
         error: function (ex) {
             console.log('Failed to retrieve data. Exception: ' + ex);
         }
        });
     };

 });
 </script>
}