﻿@model WebApplication7.Entities.CategoryBox

@{
    ViewData["Title"] = "Details";
}

<style>
    dt, dd {
        padding: 7px;
        border-bottom: 1px solid #dee2e6;
    }
    @@media(max-width: 577px){
        dt, dd {
            padding: 2px 10px;
        }
        dt{
            border: none;
        }
    }
</style>

<div class="container p-3">
    <h3>Детали категории "@Model.Title"</h3>
    <div class="mt-2">
        <a class="btn btn-primary" asp-action="Index" asp-route-typeBoxId="@ViewBag.SomeOrAll">
            <i class="bi bi-arrow-left-square text-white"></i>
            Вернуться к списку
        </a>
    </div>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ImageCategoryBox)
            </dt>
            <dd class="col-sm-9">
                <div style="max-width: 250px">
                    <img class="img-thumbnail " style="height: 150px; width: 150px" src="@Model.ImageCategoryBox" />
                </div>
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TypeBoxName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TypeBoxName)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-warning mt-3" asp-action="Edit" asp-route-id="@Model.Id" asp-route-someOrAll="@ViewBag.SomeOrAll">Изменить</a>
    </div>
</div>