﻿@model WebApplication7.Entities.CategoryBox

@{
    ViewData["Title"] = "Edit";
}

<div class="container p-2">
    <h3>Изменение категории "@Model.Title"</h3>

    <div class="mt-2">
        <a class="btn btn-primary" asp-action="Index" asp-route-typeBoxId="@ViewBag.SomeOrAll">
            <i class="bi bi-arrow-left-square text-white"></i>
            Вернуться к списку
        </a>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group py-1">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="ImageCategoryBox" class="control-label"></label>
                    <img id="img__category__box" class="img-thumbnail  mb-2" src="@Model.ImageCategoryBox" alt="----" />
                    <input asp-for="ImageCategoryBox" type="file" class="form-control-file" src="@Model.ImageCategoryBox" onchange="onFileSelected(event)"/>
                    <span asp-validation-for="ImageCategoryBox" class="text-danger"></span>
                </div>
                <div class="form-group py-1">
                    <label asp-for="TypeBoxId" class="control-label"></label>
                    <select asp-for="TypeBoxId" class="form-control" asp-items="@Model.TypesBox">
                        <option>---Категория---</option>
                    </select>
                    <span asp-validation-for="TypeBoxId" class="text-danger"></span>
                </div>


                <div class="form-group my-2">
                    <input type="submit" value="Сохранить" class="btn btn-primary" asp-route-someOrAll="@ViewBag.SomeOrAll" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function onFileSelected(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("img__category__box");
        imgtag.title = selectedFile.name;

        reader.onload = function (event) {
            imgtag.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);
    }
</script>
}
