﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ti'Skon</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap-5.0.2/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap-5.0.2/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/form-login-registr.css" />
    <link href="~/css/ShoppingCart.css" rel="stylesheet" />

</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header__top">
                <div class="block__contacts">
                    @await Html.PartialAsync("_ContactsPartial")
                </div>
                <div class="burger__menu"><span></span></div>
                <div class="block__logo"><a  asp-controller="home" asp-action="index" asp-area="">Ti'Skon</a></div>
                <div class="block__account">
                    @await Html.PartialAsync("_AdminMenuPartial")
                    @await Component.InvokeAsync("ShoppingCart")
                    @await Html.PartialAsync("_AccountPartial")

                </div>
            </div>
            @await Component.InvokeAsync("Menu")
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            @await Html.PartialAsync("_FooterPartial")
        </footer>
    </div>


    <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @await Html.PartialAsync("Login/_LoginPartial", new LoginModel { })
    </div>

    <div class="modal fade" id="RegistrationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @await Html.PartialAsync("Registration/_RegistrationPartial", new RegistrationModel { })
    </div>

    <div class="modal fade" id="ItemDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="progress__bar">
        <div class="container__progress">
            <div class="container__progress__svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gift" viewBox="0 0 16 16">
                    <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
                </svg>
            </div>
            <span>Загрузка...</span>
        </div>
    </div>



    @RenderSection("Scripts", required: false)


    <script src="~/js/registration.js"></script>
    <script src="~/js/login.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }



    <script>

        $('.burger__menu').click(function () {
            $(this).toggleClass('active');
            $('.menu').toggleClass('open');
            $('body').toggleClass('lock');
        });

    var btnShowOrHidePassword = $('.btn-show-hide-password').click(showOrHidePassword);

    function showOrHidePassword() {
        $('.btn-show-hide-password').toggleClass('show-password');
        var el = $('.btn-show-hide-password').siblings('input');
        if (el.attr('type') == 'password')
            $('.btn-show-hide-password').siblings('input').attr('type', 'text');
        else
            $('.btn-show-hide-password').siblings('input').attr('type', 'password');
    }

    </script>


</body>
</html>

