﻿@model IEnumerable<WebApplication7.Entities.TypeBox>

@{
    ViewData["Title"] = "Index";
}

<h2>Типы боксов</h2>
<p>
    <a asp-action="Create">Создать новый тип</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img class="img-thumbnail w-50 h-50" src="@item.ImageType" />             
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> |
                <a asp-controller="CategoryBox" asp-action="index" asp-route-typeBoxId="@item.Id">Внутрь-></a>
            </td>
        </tr>
}
    </tbody>
</table>
