﻿@model WebApplication7.Entities.Box

@{
    ViewData["Title"] = "Details";
}

<div class="main__box" >
    <form class="container__box" method="post">
        <div class="content__about__box">

            <div class="block__img__box">
                <div class="container__img__box">
                    <img src="@Model.ImageBox" />
                </div>
            </div>

            <div class="block__info__box">
                <div class="title__info__box">
                    <h1>Подарочный бокс @String.Concat("«", @Model.Title, "»")</h1>
                </div>
                <div class="description__info__box">@Model.Description</div>
                <div class="container__list__items__box">
                    <ul class="list__title__items">
                        @foreach (var item in Model.Items)
                        {
                            if (item == null) continue;

                            <li class="title__item">@item.Title</li>
                        }
                    </ul>
                </div>
                <div class="price__info__box">
                    <span>@String.Concat(@Model.FullPrice, "р.")</span>
                    <input id="@Model.Id" class="btn__add__to__cart" type="button" value="Добавить в корзину" />
                   
                </div>
            </div>
            
        </div>
    </form>

    <div class="show__container__box__items">
        <div class="btn__show__container__box__items">Показать предметы</div>    
    </div>
    
    <div class="container_box__items">
        @if (Model.Items.Count() > 0)
        {
            <ul class="content__box">
                @foreach (var item in Model.Items)
                {
                    if (item == null) continue;
                    <li class="item__box">
                        <a id="@item.Id" class="btn__item" >
                            <div class="block__img">
                                <img src="@item.ImageItem" />
                                <div>
                                    <span>@item.Title</span>
                                </div>
                            </div>
                        </a>

                        <div class="block__brand__country">
                            <p class="brand__item__box"> @item.Brand</p>
                            <p class="country__item__box">@item.Country</p>
                        </div>
                    </li>
                }
            </ul>
        }
        </div>

</div>



<link href="~/css/box.css" rel="stylesheet" />

@section Scripts {
    <script type="text/javascript">

        $(document).on('click', '.btn__show__container__box__items', function () {
            $(this).toggleClass('active');
            $('.container_box__items').slideToggle("slow");

        });

        $(document).on('click', '.container_box__items .btn__item', function () {
            const itemId = $(this).attr("id");
            $('.btn__item').prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            $.ajax({
                type: 'GET',
                url: "/Item/Details",
                data: {
                    id: itemId
                },
                success: function (data) {
                    $('.progress__bar').css('display', 'none');
                    $('.btn__item').prop('disabled', false);
                    $('#ItemDetailsModal .modal-content').html(data);

                    new bootstrap.Modal(document.getElementById('ItemDetailsModal')).show();
                    
                },
                error: function (ex) {
                    console.log('Failed to retrieve data. Exception: ' + ex);
                }
            });
        });

        $(document).on('click', '.container__box .btn__add__to__cart', function () {
            const boxId = $(this).attr("id");
            const antiForgeryToken = $(".container__box input[name='__RequestVerificationToken']").val();
            let btn = $(this).prop('disabled', true);
            $('.progress__bar').css('display', 'flex');

            $.ajax({
                type: 'POST',
                url: "/ShoppingCart/AddBoxToCart",
                data: {
                    BoxId: boxId,
                    __RequestVerificationToken: antiForgeryToken
                },
                success: function (data) {
                    btn.prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                    updateShoppingCart();
                 },
                error: function (ex) {
                    console.log('Failed to retrieve data. Exception: ' + ex);
                }
            });
        });
  
        function updateShoppingCart() {
            const that = $('.content__about__box').find('img');
            const bascket = $(".shoppingCart");

            let w = that.width();
            that.clone().css({
                'width': w, 'position': 'absolute', 'z-index': '9999', top: that.offset().top, left: that.offset().left
            }).appendTo("body").animate({ opacity: 0.05, left: bascket.offset()['left'], top: bascket.offset()['top'], width: 20 }, 1000, function () {
                $(this).remove();
            });

            const counter_shoppingCart = $(".counter__shoppingCart");
            let new_counter_shoppingCart = Number.parseInt($(".counter__shoppingCart").text())
            new_counter_shoppingCart++;
            counter_shoppingCart.text(new_counter_shoppingCart);
        }

    </script>
 }

