﻿@model IEnumerable<WebApplication8.Models.ShoppingCartItem>

@*<link href="~/css/ShoppingCart.css" rel="stylesheet" />*@


<div class="main-shoppingCart" >
    @await Html.PartialAsync("Out", Model)
</div>





@section Scripts {
<script type="text/javascript">
    jQuery(($) => {
        // Уменьшаем на 1 
        $(document).on('click', '.input-number__minus', function () {
            let total = $(this).next();
            if (total.val() > 1) {
                total.val(+total.val() - 1);
            }
            sendAjax(total.attr("id"), total.val());       
        });
        // Увеличиваем на 1 
        $(document).on('click', '.input-number__plus', function () {
            let total = $(this).prev();
            total.val(+total.val() + 1);
            sendAjax(total.attr("id"), total.val());  
        });
        $(document).on('change', '.input-number__input', function () {
            if ($(this).val() == 0)
                $(this).val(1);
            sendAjax($(this).attr("id"), $(this).val());  
        });

        // Запрещаем ввод текста 
        document.querySelectorAll('.input-number__input').forEach(function (el) {
            el.addEventListener('input', function () {
                this.value = this.value.replace(/[^\d]/g, '');
            });
        });




        $(document).on('click', '.btn-clear-shoppingCart', function () {
            $('.btn-clear-shoppingCart').prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            const antiForgeryToken = $(".block-content-shoppingCart input[name='__RequestVerificationToken']").val();

            $.ajax({
                    type: 'POST',
                    url: "/ShoppingCart/ClearCart",
                data: {
                    __RequestVerificationToken: antiForgeryToken
                },
                success: function (data) {
                    $('.main-shoppingCart').html(data);
                    $(".counter__shoppingCart").text(0)
                    $('.btn-clear-shoppingCart').prop('disabled', false);
                    $('.progress__bar').css('display', 'none');
                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });
        });


        function sendAjax(itemCartId, quantity) {
            $('.input-number__minus').prop('disabled', true);
            $('.input-number__plus').prop('disabled', true);
            $('.input-number__input').prop('disabled', true);
            $('.progress__bar').css('display', 'flex');
            const antiForgeryToken = $(".block-content-shoppingCart input[name='__RequestVerificationToken']").val();
            $.ajax({
                    type: 'POST',
                    url: "/ShoppingCart/ChangeQuantity",
                data: {
                    itemCartId: itemCartId,
                    quantity: quantity,
                    __RequestVerificationToken: antiForgeryToken
                },
                success: function (data) {
                    $('.main-shoppingCart').html(data);
                    $('.input-number__minus').prop('disabled', false);
                    $('.input-number__plus').prop('disabled', false);
                    $('.input-number__input').prop('disabled', false);
                    $('.progress__bar').css('display', 'none');

                    $.ajax({
                        type: 'GET',
                        url: "/ShoppingCart/CountShoppingCart",
                        success: function (data) {
                            $(".counter__shoppingCart").text(data)
                        }
                    });
                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });
        };


        $(document).on('click', '.deleteFromCart', function () {
            const itemCartId = $(this).siblings('input[type=hidden]').val();
            const antiForgeryToken = $(".block-content-shoppingCart input[name='__RequestVerificationToken']").val();
            $('.progress__bar').css('display', 'flex');

            $.ajax({
                    type: 'POST',
                    url: "/ShoppingCart/DeleteFromCart",
                data: {
                    itemCartId: itemCartId,
                    __RequestVerificationToken: antiForgeryToken
                },
                success: function (data) {
                    $('.main-shoppingCart').html(data);
                    $('.progress__bar').css('display', 'none');

                    $.ajax({
                        type: 'GET',
                        url: "/ShoppingCart/CountShoppingCart",
                        success: function (data) {
                            $(".counter__shoppingCart").text(data)
                            $('.progress__bar').css('display', 'none');
                        }
                    });
                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText)
                }
            });

        });

    });
</script>       
}