﻿@model IEnumerable<WebApplication8.Models.ShoppingCartItem>

@{
    Layout = null;
}



@if (Model.Count() == 0)
{
    <div class="icon-shoppingCart"></div>
    <h1>Ваша корзина пуста!</h1>
    @*<a class="btn-go-to-catalog">Перейти к покупкам</a>*@
}
else
{

<div class="wrapper-shoppingCart">
    <div class="content-shoppingCart">

        <form class="block-content-shoppingCart" method="post">
            <div class="header-shoppingCart">
                <h6>@String.Concat(Model.Count(),"шт")</h6>
                <input type="button" value="Очистить корзину" class="btn-clear-shoppingCart" />
            </div>

            @foreach (var itemCart in Model.Reverse())
            {
                if (itemCart.CustomBox == null) continue;
                <div class="item-shoppingCart" id="item-cutomBox">
                    <div class="deleteFromCart"></div>
                    <input type="hidden" value="@itemCart.Id"/>
                    <div class="grid-item-shoppingCart">

                        <div class="image-item-shoppingCart">
                            <a><img src="@itemCart.CustomBox.ImageBox" /></a>
                        </div>

                        <div class="info-item-shoppingCart">
                            <h2>Индивидуальный бокс «@itemCart.CustomBox.Title»</h2>
                            <ul class="container-items-in-customBox">
                                @foreach (var item in itemCart.CustomBox.Items)
                                {
                                    <li>@item.Title</li>
                                }
                            </ul>
                        </div>
                        
                        <div class="price-amount-item-shoppingCart">
                            <div class="price-for-one">
                                <span>@String.Concat(@itemCart.CustomBox.TotalPrice, "р.")</span>
                                <p>цена за 1 шт</p>
                            </div>

                            <div class="wrapper-input-number">
                                <div class="input-number">
                                    <div class="input-number__minus">-</div>
                                    <input class="input-number__input" type="text" pattern="^[0-9]+$" value="@itemCart.Quantity" id="@itemCart.Id">
                                    <div class="input-number__plus">+</div>
                                </div>
                            </div>

                            <div class="price-for-all-item">
                                <span>@String.Concat(itemCart.Quantity * itemCart.CustomBox.TotalPrice, "р.")</span>

                            </div>

                        </div>

                    </div>
                </div>
            }


            @foreach (var itemCart in Model)
            {
                if (itemCart.Box == null) continue;
                <div class="item-shoppingCart" id="item-box">
                    <input type="hidden" value="@itemCart.Id"/>
                    <div class="deleteFromCart"></div>
                    <div class="grid-item-shoppingCart">

                        <div class="image-item-shoppingCart">
                            <a><img src="@itemCart.Box.ImageBox" /></a>
                        </div>

                        <div class="info-item-shoppingCart">
                            <h2>Подарочный бокс «@itemCart.Box.Title»</h2>
                        </div>

                        <div class="price-amount-item-shoppingCart">
                            <div class="price-for-one">
                                <span>@String.Concat(@itemCart.Box.FullPrice, "р.")</span>
                                <p>цена за 1 шт</p>
                            </div>

                            <div class="wrapper-input-number">
                                <div class="input-number">
                                    <div class="input-number__minus">-</div>
                                    <input class="input-number__input" type="text" pattern="^[0-9]+$" value="@itemCart.Quantity" id="@itemCart.Id">
                                    <div class="input-number__plus">+</div>
                                </div>
                            </div>

                            <div class="price-for-all-item">
                                <span>@String.Concat(@itemCart.Quantity * itemCart.Box.FullPrice, "р.")</span>

                            </div>

                        </div>

                    </div>
                </div>
            }
            <div class="bottom-content-shoppingCart">
                <span>Итого @String.Concat(@ViewBag.TotalPrice, "р.")</span>
            </div>
        </form>


        <div class="block-shadow-shoppingCart">  </div>

        <div class="block-container-total-price">

            <div class="container-total-price">
                <div class="content-total-price">
                    <div class="row-price-payment ">
                        <span>Товаров на</span>
                        <span>@String.Concat(@ViewBag.TotalPrice, "р.")</span>
                    </div>
                    <div class="row-price-payment ">
                        <span>СКИДКА</span>
                        <span></span>
                    </div>
                    <div class="row-price-payment total-price-payment">
                        <span>Итого к оплате</span>
                        <span>@String.Concat(@ViewBag.TotalPrice, "р.")</span>
                    </div>
                </div>

                <div class="coupon-section">
                    <div class="block-filed-coupon">
                        <span>Код купона для скидки:</span>
                        <div>
                            <input type="text" />
                            <input type="button" value="применить" />
                        </div>
                    </div>
                    <div class="alert-coupon">
                        @*<span>123213213213</span>*@
                    </div>
                </div>
                <div class="block-btn-shoppingCart">
                    <a asp-controller="Order" asp-action="Index"><input type="button" value="Перейти к оформлению" /> </a>
                </div>
            </div>
        </div>
    </div>
</div>
}

