﻿@model WebApplication8.Models.LoginModel


<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-5">

        <div class="container-login-register">
            <div class="container-login-register-top">
                <div class="popup-header">Вход</div>
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
            </div>

            <form class="form-block" id="LoginForm" name="LoginForm" asp-controller="Account" asp-action="Login">
                <div class="sms-valid-summary" asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="LoginInValid" />

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="text" required asp-for="Email">
                        <span class="placeholder ">Электронная почта</span>
                    </label>
                    <span class="sms-valid" asp-validation-for="Email"></span>
                </div>

                <div class="block-input-fields">
                    <label class="input-fields">
                        <input type="password" required asp-for="Password">
                        <span class="placeholder">Пароль</span>
                        <span class="btn-show-hide-password"></span>
                    </label>
                    <span class="sms-valid" asp-validation-for="Password"></span>
                </div>

                <div class="block-options">
                    <div class="options-remember">
                        <input id="check1" class="styleCheckbox" type="checkbox" asp-for="RememberMe">
                        <label class="labelStyleCheckbox" for="check1"></label>
                        <label>Запомнить меня</label>
                    </div>
                    <a href="">Восстановить пароль</a>
                </div>
                <input class="auth-btn" type="button" value="Войти" id="login" name="login">
            </form>

            <div class="container-login-register-bottom">
                <a class="" data-bs-target="#RegistrationModal" data-bs-toggle="modal" data-bs-dismiss="modal">Зарегистрироваться</a>
            </div>

        </div>

    </div>
 </div>

