﻿@model WebApplication7.Entities.Item

@{
    ViewData["Title"] = "Details";
    Layout = null;
}


        <div class="container-details">
            <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>       

            <div class="block-image-item">
                <div>
                    <image src="@Model.ImageItem"></image>
                </div>
            </div>

            <div class="block-info">
                <div class="title-block-info"><span >@Model.Title</span></div>
                <div class="brand-block-info"><span><strong>Бренд:</strong> @Model.Brand</span></div>
                <div class="country-block-info"><span><strong>Страна производства:</strong>  @Model.Country</span></div>
                <div class="price-block-info"><span>@Model.Price р.</span></div>
                <div class="desc">

                    <label class="accordion">
                        <input type='checkbox' name='radio-accordion'>
                        <span class="accordion__header">Описание</span>
                        <span class="accordion__content">
                            @Model.Description
                        </span>
                    </label>
                    @if (Model.ModeOfApplication != null)
                    {
                        <label class="accordion">
                            <input type='checkbox' name='radio-accordion'>
                            <span class="accordion__header">Способ применения</span>
                            <span class="accordion__content">
                                @Model.ModeOfApplication
                            </span>
                        </label>
                    }

                    </div>
            </div>

        </div>


<link href="~/css/itemDetails.css" rel="stylesheet" />

