﻿@model MenuViewModel
@using Microsoft.AspNetCore.Identity
@using WebApplication8.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<link rel="stylesheet" href="~/css/menu.css" />

<nav class="menu">
    <ul class="container__menu">
        @foreach (var categoryBoxes in Model.categoryBoxes)
        {
            <li class="element__menu">
                <a asp-controller="CategoryBox" asp-action="Details" asp-route-id="@categoryBoxes.Id" asp-area="">@categoryBoxes.Title</a>
                <input type="checkbox" id="input__element__menu__@categoryBoxes.Id">
                <label for="input__element__menu__@categoryBoxes.Id"></label>
                <ul class="list__submenu">
                    @foreach (var box in Model.boxes.Where(i => i.CategoryBoxId == categoryBoxes.Id))
                    {
                        <li class="element__submenu">
                            @if (box.TypeBoxName == "кастомные боксы")
                            {
                                <a asp-controller="ConstructorBox" asp-action="Index" asp-area=""> @box.Title</a>

                            }
                            else
                            {
                                <a asp-controller="Box" asp-action="Details" asp-route-id="@box.Id" asp-area="">@box.Title </a>
                            }
                        </li>
                    }

                </ul>
            </li>
        }
    </ul>


    <div class="container__info">
        @if (SignInManager.IsSignedIn(User))
        {
            <section class="block__out__account">
                <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Выйти из аккаунта</a>
            </section>
        }
        else
        {
            <section class="block__login">
                <a data-bs-toggle="modal" data-bs-target="#LoginModal">Войти</a>
                <span>или</span>
                <a data-bs-toggle="modal" data-bs-target="#RegistrationModal">Зарегистрироваться</a>
            </section>           
        }

        <section class="block__contacts">
            <a class="phone__number">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                </svg>
                <p>+7(917)-999-99-99</p>
            </a>

            <a class="city">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
                <p>Казань</p>
            </a>
        </section>
    </div>


</nav>




@*<ul class="container-menu">
        @foreach (var typeBoxes in Model.typeBoxes)
        {
            <li class="element-container-menu">
                <input type="checkbox" id="header-element-@typeBoxes.Id">
                <a>@typeBoxes.Title</a>
                <label for="header-element-@typeBoxes.Id" class="header-element-container"></label>

                <ul class="container-submenu">

                    @foreach (var categoryBoxes in Model.categoryBoxes.Where(i => i.TypeBoxId == typeBoxes.Id))
                    {

                        <li class="element-submenu">
                            <input type="checkbox" id="header-submenu-@categoryBoxes.Id">
                            <a asp-controller="CategoryBox" asp-action="Details" asp-route-id="@categoryBoxes.Id" >@categoryBoxes.Title </a>
                            <label for="header-submenu-@categoryBoxes.Id" class="header-submenu"></label>
                            <div class="submenu-content">
                                @foreach (var box in Model.boxes.Where(i => i.CategoryBoxId == categoryBoxes.Id))
                                {
                                    if (box.TypeBoxName == "кастомные боксы")
                                    {
                                        <a asp-controller="ConstructorBox" asp-action="Index" asp-route-id="@box.Id"> @box.Title</a>

                                    }
                                    else
                                    {
                                        <a asp-controller="Box" asp-action="Details" asp-route-id="@box.Id">@box.Title </a>
                                    }
                                }
                            </div>
                        </li>
                    }
                </ul>

            </li>
        }

    </ul>*@











