﻿@using Microsoft.AspNetCore.Identity
@model WebApplication8.Areas.Admin.ViewModels.ChangeRoleViewModel


<div class="container p-3">
    <h4 class="mb-4">Изменение ролей для пользователя @Model.UserEmail</h4>

    <form asp-action="Edit" method="post">
        <input type="hidden" name="userId" value="@Model.UserId" />
        <div class="form-group">

            @foreach (IdentityRole role in Model.AllRoles)
            {

                <div class="form-check mt-1 mb-2 d-flex align-items-center">
                    <input class="form-check-input position-static" type="checkbox" name="roles" value="@role.Name" id="flexCheckDefault @role.Name" style="width: 25px; height: 25px;" 
                           @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") >
                    <label class="form-check-label ps-2" for="flexCheckDefault @role.Name">
                        @role.Name
                    </label>
                </div>
            }
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>