﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="container mt-4">
        <h4 class="mb-1">Список ролей</h4>
        <table class="table">
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
        <a asp-action="UserList">Список пользователей</a>

    
    <hr />


        <h4 class="">Добавление новой роли</h4>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="Create" method="post" class="">
            <div class="form-group">
                <label for="name">Новая роль</label>
                <input name="name" class="form-control" style="width: 250px"/>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Добавить</button>
        </form>
</div>