﻿@model IEnumerable< WebApplication8.Areas.Admin.ViewModels.UserWithRole>
 

<div class="container p-3">
    <h5>Список пользователей</h5>

        @foreach (var user in Model)
        {
            <div class="row py-2 px-1 my-3 border-2 border-top border-bottom">
                <div class="col text-start my-auto">@user.User.Email</div>
                <div class="col text-end my-auto">@user.ListRoleName</div>
                <div class="col my-2 text-center">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.User.Id">Изменить права доступа</a>
                </div>
            </div>

        }

</div>